.white {
  fill: #fff; }

.ecru {
  fill: #e1d8be; }

.solar {
  fill: #f2d697; }

.daffodil {
  fill: #dabc5b; }

.picadilli {
  fill: #dac542; }

.pamplemousse {
  fill: #f4bc43; }

.inferno {
  fill: #d64c48; }

.ember {
  fill: #ac4c40; }

.tartanscarlet {
  fill: #cb2939; }

.dubonnet {
  fill: #882b37; }

.empire {
  fill: #752c5d; }

.clematis {
  fill: #885785; }

.lupin {
  fill: #a89fc1; }

.showbiz {
  fill: #cb94be; }

.candy {
  fill: #f0b2bb; }

.festival {
  fill: #bc566c; }

.damask {
  fill: #a5295e; }

.bordeaux {
  fill: #531f2b; }

.fudge {
  fill: #9c795b; }

.kiwi {
  fill: #97ac7e; }

.cucumber {
  fill: #86b561; }

.chameleon {
  fill: #6b804c; }

.grove {
  fill: #196d60; }

.niagara {
  fill: #182e4f; }

.diesel {
  fill: #124863; }

.bluelovat {
  fill: #4f6777; }

.casino {
  fill: #155a94; }

.speedwell {
  fill: #33629a; }

.stonewash {
  fill: #5994c4; }

.paradiseblue {
  fill: #8bafcf; }

.gulfstream {
  fill: #4099aa; }

.antigua {
  fill: #8dc3ca; }

.lightgrey {
  fill: #a4a1a2; }

.timberwolf {
  fill: #6e7673; }

.metallic {
  fill: #414950; }

.characoal {
  fill: #464547; }

.black {
  fill: #111111; }

.airforce {
  fill: #474e61; }

.apple {
  fill: #8eb247; }

.basil {
  fill: #77622d; }

.birch {
  fill: #a19c83; }

.black {
  fill: #111111; }

.bordeaux {
  fill: #531f2b; }

.bottle {
  fill: #1e2a20; }

.hotpink {
  fill: #b7205c; }

.cactus {
  fill: #5c553c; }

.beige {
  fill: #efc99a; }

.cerise {
  fill: #9b3d63; }

.chamois {
  fill: #685949; }

.charcoal {
  fill: #4f4f4f; }

.choc {
  fill: #2e2818; }

.coral {
  fill: #ab3f40; }

.cream {
  fill: #ffffdc; }

.emerald {
  fill: #018848; }

.gold {
  fill: #df9b1c; }

.wine {
  fill: #9b072b; }

.lilac {
  fill: #b2728b; }

.mallard {
  fill: #3b494c; }

.grey {
  fill: #6e6e6e; }

.navy {
  fill: #15293d; }

.palepink {
  fill: #ffd0e3; }

.pink {
  fill: #d8768c; }

.purple {
  fill: #47307c; }

.royal {
  fill: #3a4d96; }

.scarlet {
  fill: #c5000f; }

.silver {
  fill: #b9b1a3; }

.sky {
  fill: #96b4c6; }

.sunshine {
  fill: #e59c42; }

.tangerine {
  fill: #ff7d3e; }

.teal {
  fill: #015e56; }

.toffee {
  fill: #78422e; }

.tomato {
  fill: #921b20; }

.turquoise {
  fill: #01a59a; }

.violet {
  fill: #7c507d; }

.white {
  fill: #fff; }

.willow {
  fill: #e5d973; }

.button {
  background: #037988;
  color: #fff;
  border-radius: 50px;
  padding: .5em 1em;
  display: inline-block;
  text-align: center;
  text-decoration: none; }
  .button:hover {
    background: #06666d;
    color: #fff;
    cursor: pointer; }
  .button.button--alt {
    background: transparent;
    border: 1px solid #000;
    color: #000; }
    .button.button--alt:hover {
      background: #f1f1f1; }

@font-face {
  font-family: 'LigatureSymbols';
  src: url("../fonts/LigatureSymbols-2.11.eot");
  src: url("../fonts/LigatureSymbols-2.11.eot?#iefix") format("embedded-opentype"), url("../fonts/LigatureSymbols-2.11.woff") format("woff"), url("../fonts/LigatureSymbols-2.11.ttf") format("truetype"), url("../fonts/LigatureSymbols-2.11.svg#LigatureSymbols") format("svg");
  font-weight: normal;
  font-style: normal; }
.lsf {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga" 1, "dlig" 1;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga" 1, "dlig" 1;
  -o-font-feature-settings: "liga" 1, "dlig" 1;
  font-feature-settings: "liga" 1, "dlig" 1; }

.lsf-icon:before {
  content: attr(title);
  margin-right: 0.3em;
  font-size: 130%;
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga" 1, "dlig" 1;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga" 1, "dlig" 1;
  -o-font-feature-settings: "liga" 1, "dlig" 1;
  font-feature-settings: "liga" 1, "dlig" 1; }

body {
  background: #f1f1f1; }

#colour-option-white svg {
  border-bottom: 1px solid #ccc; }

.tac {
  text-align: center; }

.container {
  float: none;
  max-width: 80em;
  margin-right: auto;
  margin-left: auto;
  zoom: 1;
  max-width: 1200px; }
  *, *:before, *:after {
    box-sizing: border-box; }
  .container:before, .container:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .container:after {
    clear: both; }
  .container.message {
    max-width: 700px; }

.block {
  padding: 1em; }
  .block.hidden {
    display: none; }

#spinner {
  display: none;
  padding-top: 2em; }
  #spinner .loader {
    margin: 0 0 2em;
    height: 100px;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    vertical-align: top; }
  #spinner svg path,
  #spinner svg rect {
    fill: #037988; }

.checkoutCta {
  text-align: center;
  display: none; }
  .checkoutCta.active {
    display: block; }
  @media (min-width: 0) and (max-width: 30em) {
    .checkoutCta.active {
      display: none; } }
  @media (min-width: 0) and (max-width: 30em) {
    .checkoutCta.checkoutCta--mobile.active {
      display: block; } }
  @media (min-width: 30.0625em) {
    .checkoutCta.checkoutCta--mobile {
      display: none; } }
  .checkoutCta .checkoutCta__price {
    font-size: 2em;
    margin: 0; }
  .checkoutCta .button {
    min-width: 150px; }

.controls {
  zoom: 1;
  display: none;
  font-size: .8em;
  background: #fff;
  padding-top: 1.5em;
  padding-bottom: 1.5em; }
  .controls:before, .controls:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .controls:after {
    clear: both; }
  .controls .selectOptions ul {
    margin-top: 0;
    margin-bottom: 0; }
  .controls .selectedColoursOptions {
    margin: 0; }
  .controls.active {
    display: block; }
    @media (min-width: 0) and (max-width: 30em) {
      .controls.active .selectOptions {
        display: flex;
        flex-direction: column; }
        .controls.active .selectOptions ul, .controls.active .selectOptions li.active {
          display: block;
          width: 100%; }
        .controls.active .selectOptions .selectOptions__style li {
          margin-top: 0; }
        .controls.active .selectOptions li {
          margin-top: 1em; } }
    @media (min-width: 0) and (max-width: 30em) {
      .controls.active .selectedColoursOptions {
        display: none; } }

.swipe {
  text-align: center; }
  @media (min-width: 30.0625em) {
    .swipe {
      display: none; } }

.swatchContainer {
  position: relative;
  width: 100%;
  display: none; }
  @media (max-width: 48em) {
    .swatchContainer {
      height: 100px;
      overflow: hidden; } }
  .swatchContainer.active {
    display: flex;
    flex-flow: wrap;
    width: 100%; }
  @media (max-width: 48em) {
    .swatchContainer ul.colourOptions {
      position: absolute;
      transition: all .3s ease-in; } }

.beanieDesigner, .checkout {
  zoom: 1;
  display: none; }
  .beanieDesigner:before, .beanieDesigner:after, .checkout:before, .checkout:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .beanieDesigner:after, .checkout:after {
    clear: both; }
  .beanieDesigner.active, .checkout.active {
    display: block; }

.beanieDesigner .selectOptions {
  display: none; }
.beanieDesigner .selectedColoursOptions {
  display: none;
  padding-bottom: 1em;
  border-bottom: 1px solid #A39179; }
  @media (min-width: 0) and (max-width: 30em) {
    .beanieDesigner .selectedColoursOptions {
      display: flex; } }

.selectOptions {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .selectOptions ul {
    width: 32%;
    list-style: none;
    margin-right: 2%;
    padding: 0; }
    .selectOptions ul:last-child {
      margin-right: 0; }
    .selectOptions ul li {
      display: none;
      text-align: center; }
      .selectOptions ul li.active {
        display: block; }
      .selectOptions ul li a {
        display: block; }

.checkout {
  padding: 2em; }
  .checkout .checkout__nav, .checkout .checkout__title {
    zoom: 1; }
    .checkout .checkout__nav:before, .checkout .checkout__nav:after, .checkout .checkout__title:before, .checkout .checkout__title:after {
      content: "\0020";
      display: block;
      height: 0;
      overflow: hidden; }
    .checkout .checkout__nav:after, .checkout .checkout__title:after {
      clear: both; }
  .checkout .checkout__title {
    padding: 1em 0;
    text-align: center;
    font-size: 1.5em; }
  .checkout .checkout__details {
    float: left;
    width: 95.83333%;
    margin-right: 2.08333%;
    margin-left: 2.08333%;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between; }
    @media (min-width: 67.0625em) {
      .checkout .checkout__details {
        width: 60.9375%;
        margin-right: 0.78125%;
        margin-left: 0.78125%; } }
    @media (min-width: 48.0625em) and (max-width: 67em) {
      .checkout .checkout__details {
        width: 98.13433%;
        margin-right: 0.93284%;
        margin-left: 0.93284%; } }
    @media (min-width: 30.0625em) and (max-width: 48em) {
      .checkout .checkout__details {
        width: 97.39583%;
        margin-right: 1.30208%;
        margin-left: 1.30208%; } }
  .checkout .checkout__column--payment {
    float: left;
    width: 95.83333%;
    margin-right: 2.08333%;
    margin-left: 2.08333%;
    border: 1px solid #999;
    text-align: right;
    padding-left: 2em; }
    @media (min-width: 67.0625em) {
      .checkout .checkout__column--payment {
        width: 35.9375%;
        margin-right: 0.78125%;
        margin-left: 0.78125%; } }
    @media (min-width: 48.0625em) and (max-width: 67em) {
      .checkout .checkout__column--payment {
        width: 98.13433%;
        margin-right: 0.93284%;
        margin-left: 0.93284%; } }
    @media (min-width: 30.0625em) and (max-width: 48em) {
      .checkout .checkout__column--payment {
        width: 97.39583%;
        margin-right: 1.30208%;
        margin-left: 1.30208%; } }
    .checkout .checkout__column--payment #shippingValidation {
      display: none; }
      .checkout .checkout__column--payment #shippingValidation.error {
        display: block;
        color: red; }
    .checkout .checkout__column--payment .shippingOption__radio {
      margin: 0;
      font-size: .9em; }
      .checkout .checkout__column--payment .shippingOption__radio input {
        display: none; }
        .checkout .checkout__column--payment .shippingOption__radio input:checked + label {
          background: #037988;
          color: #fff; }
      .checkout .checkout__column--payment .shippingOption__radio label {
        display: block;
        border: 1px solid #ccc;
        padding: .5em;
        margin: .4em 0; }
        .checkout .checkout__column--payment .shippingOption__radio label[for="shippingOption__007"], .checkout .checkout__column--payment .shippingOption__radio label[for="shippingOption__005"], .checkout .checkout__column--payment .shippingOption__radio label[for="shippingOption__004"] {
          color: #01a59a; }
    .checkout .checkout__column--payment .checkout__price {
      font-size: 2em; }
    .checkout .checkout__column--payment .checkout__options .checkout__option {
      margin: 1em 0; }
  .checkout .checkout__column {
    padding: 1em;
    background: #fff; }
    .checkout .checkout__column .checkout__heading {
      display: block;
      margin-top: 0;
      padding-bottom: .5em;
      text-align: center;
      border-bottom: 1px solid #000;
      font-weight: bold; }
    .checkout .checkout__column.checkout__column--colours {
      width: 48%; }
      @media (min-width: 0) and (max-width: 30em) {
        .checkout .checkout__column.checkout__column--colours {
          width: 100%; } }
    .checkout .checkout__column.checkout__column--pattern {
      width: 48%; }
      @media (min-width: 0) and (max-width: 30em) {
        .checkout .checkout__column.checkout__column--pattern {
          width: 100%; } }
      .checkout .checkout__column.checkout__column--pattern img {
        max-width: 100%; }
    .checkout .checkout__column.checkout__column--style {
      width: 100%;
      margin-top: 1em;
      text-align: center; }
      .checkout .checkout__column.checkout__column--style span, .checkout .checkout__column.checkout__column--style a {
        color: #00a99d; }
      .checkout .checkout__column.checkout__column--style span {
        font-size: 1.5em;
        font-weight: bold;
        text-transform: capitalize; }
      .checkout .checkout__column.checkout__column--style .checkout__columnText {
        padding-left: 2em;
        padding-right: 2em; }
  .checkout .checkout__swatches {
    list-style: none;
    padding-left: 0; }
    .checkout .checkout__swatches .swatchItem {
      margin-bottom: .5em; }
      .checkout .checkout__swatches .swatchItem svg {
        width: 60px;
        margin-right: 1em; }

.controls .selectOptions {
  float: left;
  width: 95.83333%;
  margin-right: 2.08333%;
  margin-left: 2.08333%; }
  @media (min-width: 67.0625em) {
    .controls .selectOptions {
      width: 42.1875%;
      margin-right: 0.78125%;
      margin-left: 0.78125%; } }
  @media (min-width: 48.0625em) and (max-width: 67em) {
    .controls .selectOptions {
      width: 48.13433%;
      margin-right: 0.93284%;
      margin-left: 0.93284%; } }
  @media (min-width: 30.0625em) and (max-width: 48em) {
    .controls .selectOptions {
      width: 47.39583%;
      margin-right: 1.30208%;
      margin-left: 1.30208%; } }

.beanieContainer {
  float: left;
  width: 95.83333%;
  margin-right: 2.08333%;
  margin-left: 2.08333%; }
  @media (min-width: 67.0625em) {
    .beanieContainer {
      width: 42.1875%;
      margin-right: 0.78125%;
      margin-left: 0.78125%; } }
  @media (min-width: 48.0625em) and (max-width: 67em) {
    .beanieContainer {
      width: 48.13433%;
      margin-right: 0.93284%;
      margin-left: 0.93284%; } }
  @media (min-width: 30.0625em) and (max-width: 48em) {
    .beanieContainer {
      width: 47.39583%;
      margin-right: 1.30208%;
      margin-left: 1.30208%; } }
  @media (min-width: 30.0625em) {
    .beanieContainer {
      padding-right: 3em; } }

.swatches {
  float: left;
  width: 95.83333%;
  margin-right: 2.08333%;
  margin-left: 2.08333%; }
  @media (min-width: 67.0625em) {
    .swatches {
      width: 54.6875%;
      margin-right: 0.78125%;
      margin-left: 0.78125%; } }
  @media (min-width: 48.0625em) and (max-width: 67em) {
    .swatches {
      width: 48.13433%;
      margin-right: 0.93284%;
      margin-left: 0.93284%; } }
  @media (min-width: 30.0625em) and (max-width: 48em) {
    .swatches {
      width: 47.39583%;
      margin-right: 1.30208%;
      margin-left: 1.30208%; } }

.beanie {
  padding-bottom: 2em;
  background: transparent url("../img/hat-shadow.png") no-repeat 45% 90%;
  background-size: 95%;
  padding-left: 2.5em;
  padding-right: 2.5em; }
  @media (max-width: 48em) {
    .beanie {
      background: transparent url("../img/hat-shadow.png") no-repeat 80% 95%;
      background-size: 100%;
      padding-left: 1.5em;
      padding-right: 1.5em; } }
  .beanie.beanie--bowenskull {
    background: transparent url("../img/hat-shadow-bowen.png") no-repeat 45% 90%; }
    @media (max-width: 48em) {
      .beanie.beanie--bowenskull {
        background: transparent url("../img/hat-shadow-bowen.png") no-repeat 80% 95%; } }
  .beanie.beanie--bare {
    padding-top: 115px; }

.colours {
  list-style: none; }

img {
  max-width: 100%; }

.selectedColours, .colourOptions {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  padding-left: 0; }
  .selectedColours li svg, .colourOptions li svg {
    cursor: pointer; }

.selectedColoursOptions {
  display: flex;
  justify-content: center;
  margin: 1em; }
  @media (min-width: 0) and (max-width: 30em) {
    .selectedColoursOptions {
      display: flex; } }
  .selectedColoursOptions a {
    margin-right: 1em; }
    @media (min-width: 30.0625em) {
      .selectedColoursOptions a {
        min-width: 150px; } }

.selectedColours {
  margin-bottom: 0;
  margin-top: 2em;
  font-size: .7em;
  text-align: center;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em; }
  @media (min-width: 0) and (max-width: 30em) {
    .selectedColours {
      justify-content: space-around; } }
  .selectedColours .swatchItem {
    margin-right: 1em;
    margin-left: 1em;
    transition: all .1s linear; }
    @media (min-width: 0) and (max-width: 30em) {
      .selectedColours .swatchItem {
        margin-left: 0;
        margin-right: 0; } }
    .selectedColours .swatchItem.active {
      transform: translate(0, -11px); }
      .selectedColours .swatchItem.active .colourName {
        border-bottom: 2px solid #00a99d; }
    .selectedColours .swatchItem svg {
      width: 80px; }
    .selectedColours .swatchItem .colourName {
      margin-bottom: 0;
      padding-bottom: 10px; }
      .selectedColours .swatchItem .colourName p {
        display: block;
        padding: 1em;
        background: #fff;
        margin: 0; }
        @media (min-width: 0) and (max-width: 30em) {
          .selectedColours .swatchItem .colourName p {
            padding-left: 0;
            padding-right: 0; } }
    @media (min-width: 0) and (max-width: 30em) {
      .selectedColours .swatchItem {
        width: 17%; }
        .selectedColours .swatchItem svg {
          width: 100%; }
        .selectedColours .swatchItem div {
          padding-left: 0;
          padding-right: 0; } }

.sectionTitle {
  text-align: center;
  font-size: .8em;
  margin: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #A39179; }
  .sectionTitle span {
    display: inline-block; }

.colourOptions {
  font-size: .7em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: space-around;
  left: 100%;
  padding-top: 1em;
  width: 50%; }
  @media (min-width: 0) and (max-width: 30em) {
    .colourOptions {
      width: 100%; } }
  @media (min-width: 30.0625em) and (max-width: 48em) {
    .colourOptions {
      width: 100%; } }
  .colourOptions.active {
    position: relative;
    left: 0; }
  .colourOptions.complete {
    left: -100%; }
  .colourOptions li.swatchItem {
    background: #fff;
    width: 60px; }
    .colourOptions li.swatchItem svg {
      width: 60px; }
    .colourOptions li.swatchItem.active polygon {
      fill: #fff; }
    @media (min-width: 0) and (max-width: 30em) {
      .colourOptions li.swatchItem {
        width: 17%; }
        .colourOptions li.swatchItem svg {
          width: 100%; }
        .colourOptions li.swatchItem div {
          padding-left: 0;
          padding-right: 0; } }

.bobble {
  text-align: center;
  position: relative;
  top: 40px;
  z-index: 2000;
  max-width: 500px;
  display: none; }
  .bobble svg {
    height: 115px; }
  .bobble.active {
    display: block; }

.beaniePreview {
  position: relative;
  max-width: 500px; }
  .beaniePreview.beaniePreview--cormack, .beaniePreview.beaniePreview--howitt {
    mask: url(../img/pattern-mask-cormack.svg);
    -webkit-mask: url(../img/pattern-mask-cormack.svg) top left/cover;
    -o-mask: url(../img/pattern-mask-cormack.svg) top left/cover;
    -ms-mask: url(../img/pattern-mask-cormack.svg) top left/cover; }
  .beaniePreview.beaniePreview--cormackturnup {
    mask: url(../img/pattern-mask-cormackturnup.svg);
    -webkit-mask: url(../img/pattern-mask-cormackturnup.svg) top left/cover;
    -o-mask: url(../img/pattern-mask-cormackturnup.svg) top left/cover;
    -ms-mask: url(../img/pattern-mask-cormackturnup.svg) top left/cover; }
  .beaniePreview.beaniePreview--bowenturnup {
    mask: url(../img/pattern-mask-bowen-turnup.svg);
    -webkit-mask: url(../img/pattern-mask-bowenturnup.svg) top left/cover;
    -o-mask: url(../img/pattern-mask-bowenturnup.svg) top left/cover;
    -ms-mask: url(../img/pattern-mask-bowenturnup.svg) top left/cover; }
  .beaniePreview.beaniePreview--bowenskull {
    mask: url(../img/pattern-mask-bowen-skull.svg);
    -webkit-mask: url(../img/pattern-mask-bowenskull.svg) top left/cover;
    -o-mask: url(../img/pattern-mask-bowenskull.svg) top left/cover;
    -ms-mask: url(../img/pattern-mask-bowenskull.svg) top left/cover; }
  .beaniePreview .beaniePreview__pattern {
    display: none; }
  .beaniePreview.beaniePreview--striangles .beaniePreview__pattern--striangles {
    display: block; }
  .beaniePreview.beaniePreview--jigjag .beaniePreview__pattern--jigjag {
    display: block; }
  .beaniePreview.beaniePreview--plain .beaniePreview__pattern--plain {
    display: block; }
  .beaniePreview.beaniePreview--nordicai .beaniePreview__pattern--nordicai {
    display: block; }
  .beaniePreview.beaniePreview--schwing .beaniePreview__pattern--schwing {
    display: block; }
  .beaniePreview.beaniePreview--gloryboy .beaniePreview__pattern--gloryboy {
    display: block; }
  .beaniePreview.beaniePreview--electricwool .beaniePreview__pattern--electricwool {
    display: block; }
  .beaniePreview.beaniePreview--contrastpattern .beaniePreview__pattern--contrastpattern {
    display: block; }
  .beaniePreview.beaniePreview--contrastblast .beaniePreview__pattern--contrastblast {
    display: block; }
  .beaniePreview.beaniePreview--wagga .beaniePreview__pattern--wagga {
    display: block; }
  .beaniePreview.beaniePreview--navasaynava .beaniePreview__pattern--navasaynava {
    display: block; }
  .beaniePreview.beaniePreview--burster .beaniePreview__pattern--burster {
    display: block; }
  .beaniePreview.beaniePreview--cormackturnup .beaniePreview__pattern--cormackturnup {
    display: block; }
  .beaniePreview.beaniePreview--bowenturnup #hatMask {
    display: none; }
  .beaniePreview.beaniePreview--bowenturnup #hatMask--bowen {
    display: block; }
  .beaniePreview.beaniePreview--bowenturnup .beaniePreview__pattern--bowenturnup {
    display: block; }
  .beaniePreview.beaniePreview--bowenskull #hatMask {
    display: none; }
  .beaniePreview.beaniePreview--bowenskull #hatMask--bowen {
    display: block; }
  .beaniePreview.beaniePreview--bowenskull .beaniePreview__pattern--bowenskull {
    display: block; }
  .beaniePreview #hatMask, .beaniePreview #hatMask--bowen {
    position: absolute;
    z-index: 1000; }
  .beaniePreview #hatMask--bowen {
    display: none; }

.pattern {
  display: none;
  text-align: center; }
  .pattern.active {
    display: block; }

/*# sourceMappingURL=style.css.map */
