
.button {
    background: #037988;
    color: #fff;
    border-radius: 50px;
    padding: .5em 1em;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    &:hover {
        background: #06666d;
        color: #fff;
        cursor: pointer;
    }
    &.button--alt {
        background: transparent;
        border: 1px solid #000;
        color: #000;
        &:hover {
            background: #f1f1f1;
        }
    }
}
