// colours
// $white: #eee4ce;
$white: #fff;
$ecru: #e1d8be;
$solar: #f2d697;
$daffodil: #dabc5b;
$picadilli: #dac542;
$pamplemousse: #f4bc43;
$inferno: #d64c48;
$ember: #ac4c40;
$tartanscarlet: #cb2939;
$dubonnet: #882b37;
$empire: #752c5d;
$clematis: #885785;
$lupin: #a89fc1;
$showbiz: #cb94be;
$candy: #f0b2bb;
$festival: #bc566c;
$damask: #a5295e;
$bordeaux: #663540;
$fudge: #9c795b;
$kiwi: #97ac7e;
$cucumber: #86b561;
$chameleon: #6b804c;
$grove: #196d60;
$niagara: #182e4f;
$diesel: #124863;
$bluelovat: #4f6777;
$casino: #155a94;
$speedwell: #33629a;
$stonewash: #5994c4;
$paradiseblue: #8bafcf;
$gulfstream: #4099aa;
$antigua: #8dc3ca;
$lightgrey: #a4a1a2;
$timberwolf: #6e7673;
$metallic: #414950;
$characoal: #464547;
$black: #2f2e2e;
//merino
$airforce: #474e61;
$apple: #8eb247;
$basil: #77622d;
$birch: #a19c83;
$black: #111111;
$bordeaux: #531f2b;
$bottle: #1e2a20;
$hotpink: #b7205c;
$cactus: #5c553c;
$beige: #efc99a;
$cerise: #9b3d63;
$chamois: #685949;
$charcoal: #4f4f4f;
$choc: #2e2818;
$coral: #ab3f40;
$cream: #ffffdc;
$emerald: #018848;
$gold: #df9b1c;
$wine: #9b072b;
$lilac: #b2728b;
$mallard: #3b494c;
$grey: #6e6e6e;
$navy: #15293d;
$palepink: #ffd0e3;
$pink: #d8768c;
$purple: #47307c;
$royal: #3a4d96;
$scarlet: #c5000f;
$silver: #b9b1a3;
$sky: #96b4c6;
$sunshine: #e59c42;
$tangerine: #ff7d3e;
$teal: #015e56;
$toffee: #78422e;
$tomato: #921b20;
$turquoise: #01a59a;
$violet: #7c507d;
$white: #fff;
$willow: #e5d973;
.white {
    fill: $white;
}
.ecru {
    fill: $ecru;
}
.solar {
    fill: $solar;
}
.daffodil {
    fill: $daffodil;
}
.picadilli {
    fill: $picadilli;
}
.pamplemousse {
    fill: $pamplemousse;
}
.inferno {
    fill: $inferno;
}
.ember {
    fill: $ember;
}
.tartanscarlet {
    fill: $tartanscarlet;
}
.dubonnet {
    fill: $dubonnet;
}
.empire {
    fill: $empire;
}
.clematis {
    fill: $clematis;
}
.lupin {
    fill: $lupin;
}
.showbiz {
    fill: $showbiz;
}
.candy {
    fill: $candy;
}
.festival {
    fill: $festival;
}
.damask {
    fill: $damask;
}
.bordeaux {
    fill: $bordeaux;
}
.fudge {
    fill: $fudge;
}
.kiwi {
    fill: $kiwi;
}
.cucumber {
    fill: $cucumber;
}
.chameleon {
    fill: $chameleon;
}
.grove {
    fill: $grove;
}
.niagara {
    fill: $niagara;
}
.diesel {
    fill: $diesel;
}
.bluelovat {
    fill: $bluelovat;
}
.casino {
    fill: $casino;
}
.speedwell {
    fill: $speedwell;
}
.stonewash {
    fill: $stonewash;
}
.paradiseblue {
    fill: $paradiseblue;
}
.gulfstream {
    fill: $gulfstream;
}
.antigua {
    fill: $antigua;
}
.lightgrey {
    fill: $lightgrey;
}
.timberwolf {
    fill: $timberwolf;
}
.metallic {
    fill: $metallic;
}
.characoal {
    fill: $characoal;
}
.black {
    fill: $black;
}
.airforce {
    fill: $airforce;
}
.apple {
    fill: $apple;
}
.basil {
    fill: $basil;
}
.birch {
    fill: $birch;
}
.black {
    fill: $black;
}
.bordeaux {
    fill: $bordeaux;
}
.bottle {
    fill: $bottle;
}
.hotpink {
    fill: $hotpink;
}
.cactus {
    fill: $cactus;
}
.beige {
    fill: $beige;
}
.cerise {
    fill: $cerise;
}
.chamois {
    fill: $chamois;
}
.charcoal {
    fill: $charcoal;
}
.choc {
    fill: $choc;
}
.coral {
    fill: $coral;
}
.cream {
    fill: $cream;
}
.emerald {
    fill: $emerald;
}
.gold {
    fill: $gold;
}
.wine {
    fill: $wine;
}
.lilac {
    fill: $lilac;
}
.mallard {
    fill: $mallard;
}
.grey {
    fill: $grey;
}
.navy {
    fill: $navy;
}
.palepink {
    fill: $palepink;
}
.pink {
    fill: $pink;
}
.purple {
    fill: $purple;
}
.royal {
    fill: $royal;
}
.scarlet {
    fill: $scarlet;
}
.silver {
    fill: $silver;
}
.sky {
    fill: $sky;
}
.sunshine {
    fill: $sunshine;
}
.tangerine {
    fill: $tangerine;
}
.teal {
    fill: $teal;
}
.toffee {
    fill: $toffee;
}
.tomato {
    fill: $tomato;
}
.turquoise {
    fill: $turquoise;
}
.violet {
    fill: $violet;
}
.white {
    fill: $white;
}
.willow {
    fill: $willow;
}
