@import '../bower_components/flint/stylesheets/flint';
@import 'colours';
@import 'buttons';
@import 'fonts';

// Colours
$primary-colour: rgba(190, 30, 45, 1);
$secondary-colour: rgba(3, 121, 136, 1);
$secondary-dshade: #00656d;
$tertiary-colour: #f7941e;

body {
    background: #f1f1f1;
}
#colour-option-white {
    svg {
        border-bottom: 1px solid #ccc;
    }
}
.tac {
    text-align: center;
}
.container {
    @include _( 'container');
    @include _( 'clear');
    max-width: 1200px;
    &.message {
        max-width: 700px;
    }
}
.block {
    padding: 1em;
    &.hidden {
        display: none;
    }
}
#spinner {
    display: none;
    padding-top: 2em;
    .loader{
  margin: 0 0 2em;
  height: 100px;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  vertical-align: top;
}
svg path,
svg rect{
  fill: #037988;
}
}
.checkoutCta {
    text-align: center;
    display: none;
    &.active {
        display: block;
    }
    @include _(for mobile) {
        &.active {
            display: none;
        }
    }
    &.checkoutCta--mobile {
        @include _(for mobile) {
            &.active {
                display: block;
            }
        }
        @include _(greater than mobile) {
            display: none;
        }
    }
    .checkoutCta__price {
        font-size: 2em;
        margin: 0;
    }
    .button {
        min-width: 150px;
    }
}

.controls {
    @include _('clear');
    display: none;
    font-size: .8em;
    background: #fff;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    .selectOptions {
        ul {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    .selectedColoursOptions {
        margin: 0;
    }
    &.active {
        display: block;
        .selectOptions {
            @include _(for mobile) {
                display: flex;
                flex-direction: column;
                ul, li.active {
                    display: block;
                    width: 100%;
                }
                .selectOptions__style {
                    li {
                        margin-top: 0;
                    }
                }
                li {
                    margin-top: 1em;
                }
            }
        }
        .selectedColoursOptions {
            @include _(for mobile) {
                display: none;
            }
        }

    }
}
.swipe {
    text-align: center;
    @include _(greater than mobile) {
        display: none;
    }
}
.swatchContainer {
    position: relative;
    width: 100%;
    display: none;
    @include _(less than laptop) {
        height: 100px;
        overflow: hidden;
    }
    &.active {
        display: flex;
        flex-flow: wrap;
        width: 100%;
    }
    ul.colourOptions {
        @include _(less than laptop) {
            position: absolute;
            transition: all .3s ease-in;
        }
    }
}
.beanieDesigner, .checkout {
    @include _('clear');
    display: none;
    &.active {
        display: block;
    }
}
.beanieDesigner {
    .selectOptions {
        display: none;
    }
    .selectedColoursOptions {
        display: none;
        padding-bottom: 1em;
        border-bottom: 1px solid #A39179;
        @include _(for mobile) {
            display: flex;
        }
    }
}
.selectOptions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    ul {
        width: 32%;
        list-style: none;
        margin-right: 2%;
        padding: 0;
        &:last-child {
            margin-right: 0;
        }
        li {
            display: none;
            text-align: center;
            &.active {
                display: block;
            }
            a {
                display: block;
            }
        }
    }

}
.checkout {
    padding: 2em;
    .checkout__nav, .checkout__title {
        @include _('clear');
    }
    .checkout__title {
        padding: 1em 0;
        text-align: center;
        font-size: 1.5em;
    }
    .checkout__details {
        @include _(10 12 8 4);
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        justify-content: space-between;
    }
    .checkout__column--payment {
        @include _(6 12 8 4);
        border: 1px solid #999;
        text-align: right;
        padding-left: 2em;
        #shippingValidation {
            display: none;
            &.error {
                display: block;
                color: red;
            }
        }
        .shippingOption__radio {
            margin: 0;
            font-size: .9em;
            input {
                display: none;
                &:checked + label {
                    background: $secondary-colour;
                    color: #fff;
                }
            }
            label {
                display: block;
                border: 1px solid #ccc;
                padding: .5em;
                margin: .4em 0;
                &[for="shippingOption__007"], &[for="shippingOption__005"], &[for="shippingOption__004"] {
                    color: #01a59a;
                }
            }
        }
        .checkout__price {
            font-size: 2em;
        }
        .checkout__options {
            .checkout__option {
                margin: 1em 0;
            }
        }
    }
    .checkout__column {
        padding: 1em;
        background: #fff;
        .checkout__heading {
            display: block;
            margin-top: 0;
            padding-bottom: .5em;
            text-align: center;
            border-bottom: 1px solid #000;
            font-weight: bold;
        }
        &.checkout__column--colours {
           width: 48%;
           @include _(for mobile) {
               width: 100%;
           }
        }
        &.checkout__column--pattern {
            width: 48%;
            @include _(for mobile) {
                width: 100%;
            }
            img {
                max-width: 100%;
            }
        }
        &.checkout__column--style {
            width: 100%;
            margin-top: 1em;
            text-align: center;
            span, a {
                color: #00a99d;
            }
            span {
                font-size: 1.5em;
                font-weight: bold;
                text-transform: capitalize;
            }
            .checkout__columnText {
                padding-left: 2em;
                padding-right: 2em;
            }
        }
    }
    .checkout__swatches {
        list-style: none;
        padding-left: 0;
        .swatchItem {
            margin-bottom: .5em;
           svg {
               width: 60px;
               margin-right: 1em;
           }
        }
    }

}
.controls .selectOptions {
    @include _(7 6 4 4);
}
.beanieContainer, {
    @include _(7 6 4 4);
    @include _(greater than mobile) {
        padding-right: 3em;
    }
}
.swatches {
    @include _(9 6 4 4);
}
.beanie {
    padding-bottom: 2em;
    background: transparent url('../img/hat-shadow.png') no-repeat 45% 90%;
    background-size: 95%;
    padding-left: 2.5em;
    padding-right: 2.5em;
    @include _(less than laptop) {
        background: transparent url('../img/hat-shadow.png') no-repeat 80% 95%;
        background-size: 100%;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
    &.beanie--bowenskull {
        background: transparent url('../img/hat-shadow-bowen.png') no-repeat 45% 90%;
        @include _(less than laptop) {
            background: transparent url('../img/hat-shadow-bowen.png') no-repeat 80% 95%;
        }
    }
    &.beanie--bare {
        padding-top: 115px;
    }

}
.swatches {
    @include _(greater than mobile) {
    }
}

.colours {
    list-style: none;
}
img {
    max-width: 100%;
}
.selectedColours, .colourOptions {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    padding-left: 0;
    li {
        svg {
            cursor: pointer;
        }
    }
}
.selectedColoursOptions {
    display: flex;
    justify-content: center;
    margin: 1em;
    @include _(for mobile) {
        display: flex;
    }
    a {
        margin-right: 1em;
        @include _(greater than mobile) {
            min-width: 150px;
        }
    }
}
.selectedColours {
    margin-bottom: 0;
    margin-top: 2em;
    font-size: .7em;
    text-align: center;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
   @include _(for mobile) {
       justify-content: space-around;
   }
    .swatchItem {
        margin-right: 1em;
        margin-left: 1em;
        transition: all .1s linear;
        @include _(for mobile) {
            margin-left: 0;
            margin-right: 0;
        }
        &.active {
        	transform: translate(0, -11px);
            .colourName {
                border-bottom: 2px solid #00a99d;
            }
        }
        svg {
            width: 80px;
        }
        .colourName {
            margin-bottom: 0;
            padding-bottom: 10px;
            p {
                display: block;
                padding: 1em;
                background: #fff;
                margin: 0;
                @include _(for mobile) {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
        @include _(for mobile) {
            width: 17%;
            svg {
                width: 100%;
            }
            div {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}

.sectionTitle {
    text-align: center;
    font-size: .8em;
    margin: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #A39179;
    span {
        display: inline-block;
    }
}

.colourOptions {
    font-size: .7em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: space-around;
    left: 100%;
    padding-top: 1em;
    width: 50%;
    @include _(for mobile) {
        width: 100%;
    }
    @include _(for tablet) {
        width: 100%;
    }
    &.active {
        position: relative;
        left: 0;
    }
    &.complete {
        left: -100%;
    }
    li {
        &.swatchItem {
            background: #fff;
            width: 60px;
            svg {
                width: 60px;
            }
            &.active {
                polygon {
                    fill: #fff;
                }
            }
            @include _(for mobile) {
                width: 17%;
                svg {
                    width: 100%;
                }
                div {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }
}
.bobble {
    text-align: center;
    position: relative;
    top: 40px;
    z-index: 2000;
    max-width: 500px;
    svg {
        height: 115px;
    }
    display: none;
    &.active {
        display: block;
    }
}
.beaniePreview {
    position: relative;
    max-width: 500px;

    &.beaniePreview--cormack, &.beaniePreview--howitt {
        mask: url(../img/pattern-mask-cormack.svg);
        -webkit-mask: url(../img/pattern-mask-cormack.svg) top left / cover;
        -o-mask: url(../img/pattern-mask-cormack.svg) top left / cover;
        -ms-mask: url(../img/pattern-mask-cormack.svg) top left / cover;
    }

    &.beaniePreview--cormackturnup {
        mask: url(../img/pattern-mask-cormackturnup.svg);
        -webkit-mask: url(../img/pattern-mask-cormackturnup.svg) top left / cover;
        -o-mask: url(../img/pattern-mask-cormackturnup.svg) top left / cover;
        -ms-mask: url(../img/pattern-mask-cormackturnup.svg) top left / cover;
    }

    &.beaniePreview--bowenturnup {
        mask: url(../img/pattern-mask-bowen-turnup.svg);
        -webkit-mask: url(../img/pattern-mask-bowenturnup.svg) top left / cover;
        -o-mask: url(../img/pattern-mask-bowenturnup.svg) top left / cover;
        -ms-mask: url(../img/pattern-mask-bowenturnup.svg) top left / cover;
    }

    &.beaniePreview--bowenskull {
        mask: url(../img/pattern-mask-bowen-skull.svg);
        -webkit-mask: url(../img/pattern-mask-bowenskull.svg) top left / cover;
        -o-mask: url(../img/pattern-mask-bowenskull.svg) top left / cover;
        -ms-mask: url(../img/pattern-mask-bowenskull.svg) top left / cover;
    }

    .beaniePreview__pattern {
        display:none;
    }

    &.beaniePreview--striangles {
        .beaniePreview__pattern--striangles {
            display: block;
        }
    }

    &.beaniePreview--jigjag {
        .beaniePreview__pattern--jigjag {
            display: block;
        }
    }

    &.beaniePreview--plain {
        .beaniePreview__pattern--plain {
            display: block;
        }
    }

    &.beaniePreview--nordicai {
        .beaniePreview__pattern--nordicai {
            display: block;
        }
    }

    &.beaniePreview--schwing {
        .beaniePreview__pattern--schwing {
            display: block;
        }
    }

    &.beaniePreview--gloryboy {
        .beaniePreview__pattern--gloryboy {
            display: block;
        }
    }

    &.beaniePreview--electricwool {
        .beaniePreview__pattern--electricwool {
            display: block;
        }
    }

    &.beaniePreview--contrastpattern {
        .beaniePreview__pattern--contrastpattern {
            display: block;
        }
    }

    &.beaniePreview--contrastblast {
        .beaniePreview__pattern--contrastblast {
            display: block;
        }
    }

    &.beaniePreview--wagga {
        .beaniePreview__pattern--wagga {
            display: block;
        }
    }

    &.beaniePreview--navasaynava {
        .beaniePreview__pattern--navasaynava {
            display: block;
        }
    }

    &.beaniePreview--burster {
        .beaniePreview__pattern--burster {
            display: block;
        }
    }

    &.beaniePreview--cormackturnup {
        .beaniePreview__pattern--cormackturnup {
            display: block;
        }
    }

    &.beaniePreview--bowenturnup {
        #hatMask {
            display: none;
        }
        #hatMask--bowen {
            display: block;
        }
        .beaniePreview__pattern--bowenturnup {
            display: block;
        }
    }

    &.beaniePreview--bowenskull {
        #hatMask {
            display: none;
        }
        #hatMask--bowen {
            display: block;
        }
        .beaniePreview__pattern--bowenskull {
            display: block;
        }
    }


    #hatMask, #hatMask--bowen {
        position: absolute;
        z-index: 1000;
    }
    #hatMask--bowen {
        display: none;
    }

}
.pattern {
    display: none;
    text-align: center;

    &.active {
        display: block;
    }
    svg {
        // width: 500px;
    }
}
