<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div id="customizer"></div>

    <script id='template' type='text/ractive'>

        <div class="controls{{showCheckout ? '' : ' active'}}">
            <div class="container">
                <div class="selectOptions">
                    <ul class="selectOptions__style">
                        {{#each beanies}}
                            <li class="{{activeStyleIndex === @index ? 'active' : ''}}">
                                <a class="button button--alt lsf-icon" title="code" on-tap="setActiveStyle">
                                    {{title}}
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                    <ul class="selectOptions__pattern">
                        {{#each availablePatterns}}
                            <li class="{{activePatternIndex === @index ? 'active' : ''}}">
                                <a class="button button--alt lsf-icon" title="code" on-tap="setActivePattern">
                                    {{this}}
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                    {{#if activeStyleTitle === 'bowenturnup' || activeStyleTitle === 'bowenskull'}}
                        <ul class="selectOptions__bobble">
                            <li class="active">
                                <a class="button button--alt lsf-icon" title="code" on-tap="toggleBobble">
                                    Toggle Bobble
                                </a>
                            </li>
                        </ul>
                    {{/if}}
                </div>

                <div class="selectedColoursOptions">
                    <a class="button button--alt lsf-icon" on-tap="swapColours" title="random">Shuffle</a>
                    <a class="button button--alt lsf-icon" on-tap="randomizeColours" title="exchange">Randomize</a>
                </div>

            </div>
        </div>

        <div class="container">

        <section class="beanieDesigner{{showCheckout ? '' : ' active'}}">

            <div class="beanieContainer">

                <div class="selectOptions">

                <ul class="selectOptions__style">
                    {{#each beanies}}
                        <li class="{{activeStyleIndex === @index ? 'active' : ''}}">
                            <a class="button button--alt lsf-icon" title="code" on-tap="setActiveStyle">
                                {{title}}
                            </a>
                        </li>
                    {{/each}}
                </ul>
                <ul class="selectOptions__pattern">
                    {{#each availablePatterns}}
                        <li class="{{activePatternIndex === @index ? 'active' : ''}}">
                            <a class="button button--alt lsf-icon" title="code" on-tap="setActivePattern">
                                {{this}}
                            </a>
                        </li>
                    {{/each}}
                </ul>
                {{#if activeStyleTitle === 'bowenturnup' || activeStyleTitle === 'bowenskull'}}
                    <ul class="selectOptions__bobble">
                        <li class="active">
                            <a class="button button--alt lsf-icon" title="code" on-tap="toggleBobble">
                                Toggle Bobble
                            </a>
                        </li>
                    </ul>
                {{/if}}
                </div>
                <div class="beanie
                {{#if !beanies[activeStyleIndex].bobble}}
                 beanie--bare
                {{/if}}
                {{#if activeStyleTitle === 'bowenskull'}}
                 beanie--bowenskull
                {{/if}}
                ">

                    <div class="bobble bobble--plain
                    {{#if activePatternTitle === 'plain'}}
                    {{#if beanies[activeStyleIndex].bobble}}
                     active
                    {{/if}}
                    {{/if}}">
                        @@include('../includes/bobble-plain.html')
                    </div>

                    <div class="bobble bobble--multi
                    {{#if activePatternTitle != 'plain'}}
                    {{#if beanies[activeStyleIndex].bobble}}
                     active
                    {{/if}}
                    {{/if}}">
                        @@include('../includes/bobble.html')
                    </div>

                    <div class="beaniePreview
                        {{#if activeStyleTitle}}
                            beaniePreview--{{activeStyleTitle}}
                             beaniePreview--{{activePatternTitle}}
                        {{/if}}
                    ">

                        <img src="img/hat-mask.png" alt="" id="hatMask">
                        <img src="img/hat-mask-bowen.png" alt="" id="hatMask--bowen">

                        <div class="beaniePreview__pattern beaniePreview__pattern--striangles" id="beanieMock--striangles">
                            @@include('../includes/pattern-striangles.html')
                        </div>

                        <div class="beaniePreview__pattern beaniePreview__pattern--plain" id="beanieMock--plain">
                            @@include('../includes/pattern-plain.html')
                        </div>

                        <div class="beaniePreview__pattern beaniePreview__pattern--contrast" id="beanieMock--contrast">
                            @@include('../includes/pattern-contrast.html')
                        </div>

                        <div class="beaniePreview__pattern beaniePreview__pattern--gloryboy" id="beanieMock--gloryboy">
                            @@include('../includes/pattern-gloryboy.html')
                        </div>

                        <div class="beaniePreview__pattern beaniePreview__pattern--burster" id="beanieMock--burster">
                            @@include('../includes/pattern-burster.html')
                        </div>

                        <div class="beaniePreview__pattern beaniePreview__pattern--electricwool" id="beanieMock--electricwool">
                            @@include('../includes/pattern-electricwool.html')
                        </div>

                        <div class="beaniePreview__pattern beaniePreview__pattern--nordicai" id="beanieMock--nordicai">
                            @@include('../includes/pattern-nordicai.html')
                        </div>

                        <div class="beaniePreview__pattern beaniePreview__pattern--contrastpattern" id="beanieMock--contrastpattern">
                            @@include('../includes/pattern-contrastpattern.html')
                        </div>

                        <div class="beaniePreview__pattern beaniePreview__pattern--jigjag" id="beanieMock--jigjag">
                            @@include('../includes/pattern-jigjag.html')
                        </div>

                        <div class="beaniePreview__pattern beaniePreview__pattern--contrastblast" id="beanieMock--contrastblast">
                            @@include('../includes/pattern-contrastblast.html')
                        </div>

                        <div class="beaniePreview__pattern beaniePreview__pattern--wagga" id="beanieMock--wagga">
                            @@include('../includes/pattern-wagga.html')
                        </div>

                        <div class="beaniePreview__pattern beaniePreview__pattern--navasaynava" id="beanieMock--navasaynava">
                            @@include('../includes/pattern-navasaynava.html')
                        </div>

                        <div class="beaniePreview__pattern beaniePreview__pattern--schwing" id="beanieMock--schwing">
                            @@include('../includes/pattern-schwing.html')
                        </div>


                    </div>

                </div>

                <div class="block checkoutCta{{showCheckout ? '' : ' active'}}">
                    <p class="checkoutCta__price">
                        &#163;{{decimalPrice(totalPrice)}}
                    </p>
                    <p>
                        <a class="button" on-click="toggleCheckout">Checkout</a>
                    </p>
                </div>


            </div>

            <div class="swatches">

                <div class="selectedColoursOptions">
                    <a class="button lsf-icon" on-tap="swapColours" title="random">Shuffle</a>
                    <a class="button lsf-icon" on-tap="randomizeColours" title="exchange">Randomize</a>
                </div>

                <ul class="selectedColours">
                    {{#each selectedColours}}
                    <li class="swatchItem{{@index == selectedColourIndex ? ' active' : ''}}" on-click="changeSelected:{{@index}}">
                        @@include('../includes/swatch-selected.html')
                        <div class="colourName">
                            <p>{{this}}</p>
                        </div>
                    </li>
                    {{/each}}
                </ul>

                <div class="sectionTitle"><span>Select from the available colours below</span></div>

                <div class="swatchContainer{{activeWool == 'merino' ? ' active' : ''}}">
                    {{#each merinoColours:i}}
                    <ul class="colourOptions{{activePanel == i ? ' active' : ''}}{{activePanel > i ? ' complete' : ''}}" id="colourOptionSlider" on-swipeleft="swipeLeft" on-swiperight="swipeRight">
                        {{#each merinoColours[i]}}
                        <li class="swatchItem colourOptions__swatchItem" id="colour-option-{{this}}" on-click="changeColour">
                             @@include('../includes/swatch-available.html')
                            <p>{{this}}</p>
                        </li>
                        {{/each}}
                    </ul>
                    {{/each}}
                </div>

                <p class="swipe">
                    <img src="img/swipe.svg" alt="" width="200px">
                </p>

                <div class="block checkoutCta checkoutCta--mobile{{showCheckout ? '' : ' active'}}">
                    <p class="checkoutCta__price">
                        &#163;{{decimalPrice(totalPrice)}}
                    </p>
                    <p>
                        <a class="button" on-click="toggleCheckout">Checkout</a>
                    </p>
                </div>

            </div>

        </section>

        <section class="checkout{{showCheckout ? ' active' : ''}}">

            <div class="checkout__nav">
                <a on-click="toggleCheckout" class="button button--grey">&lsaquo; Back</a>
            </div>

            <div class="checkout__title">
                Checkout
            </div>

            <div class="checkout__details">
                <div class="checkout__column checkout__column--colours">
                    <p class="checkout__heading">Selected Colours</p>
                    <ul class="checkout__swatches">
                        {{#each selectedColours:i}}
                        <li class="swatchItem">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            	 viewBox="0 0 154.1 113.1" style="enable-background:new 0 0 154.1 113.1;" xml:space="preserve">
                            <rect class="swatch {{selectedColours[i]}}" width="200" height="100"/>
                            </svg>
                            {{selectedColours[i]}}</li>
                        {{/each}}
                    </ul>
                </div>

                <div class="checkout__column checkout__column--pattern" id="checkout__image">
                    <p class="checkout__heading">Pattern: {{beanies[activeStyleIndex].patterns[activePatternIndex]}}</p>
                </div>
                <div class="checkout__column checkout__column--style">
                    <p class="checkout__heading">Style: {{beanies[activeStyleIndex].title}}</p>
                    <div class="checkout__columnText">
                        <p>You have chosen the</p>
                        <p><span>{{beanies[activeStyleIndex].title}} style</span></p>
                        {{#if beanies[activeStyleIndex].url}}
                            <p>Please check this style is to your liking before ordering.</p>
                            <p>You can check our stock beanies in this style <a href="{{beanies[activeStyleIndex].url}}" target="_blank">here</a></p>
                        {{/if}}
                    </div>
                </div>
            </div>

            <div class="checkout__column checkout__column--payment">
                <p><strong>Custom Beanie</strong>: &#163;{{decimalPrice(beanies[activeStyleIndex].price)}}</p>
                <p>Select a shipping option:</p>
                    {{#each shippingOptions}}
                        <p class="shippingOption__radio"><input on-change="addShipping" name="shippingOption" id="shippingOption__00{{@index}}" type="radio" value="{{.value}}"><label for="shippingOption__00{{@index}}">{{.option}}</label></p>
                    {{/each}}
                <p class="checkout__price">Total: &#163;{{decimalPrice(totalPrice)}}</p>
                <div class="checkout__options">
                    <div class="checkout__option">
                        <form id="stripeForm" action="charge.php" method="post" accept-charset="utf-8">
                            <input type="hidden" id="stripeToken" name="stripeToken"/>
                            <input type="hidden" id="stripeEmail" name="stripeEmail"/>

                            <input type="hidden" id="stripeShippingName" name="stripeShippingName"/>
                            <input type="hidden" id="stripeShippingAddressLine1" name="stripeShippingAddressLine1"/>
                            <input type="hidden" id="stripeShippingAddressCity" name="stripeShippingAddressCity"/>
                            <input type="hidden" id="stripeShippingAddressState" name="stripeShippingAddressState"/>
                            <input type="hidden" id="stripeShippingAddressZip" name="stripeShippingAddressZip"/>
                            <input type="hidden" id="stripeShippingAddressCountryCode" name="stripeShippingAddressCountryCode"/>
                            <input type="hidden" id="stripeShippingAddressCountry" name="stripeShippingAddressCountry"/>

                            <input type="hidden" name="amount" value="{{totalPrice}}">
                            <input type="hidden" name="style" value="{{beanies[activeStyleIndex].title}}">
                            <input type="hidden" name="pattern" value="{{beanies[activeStyleIndex].patterns[activePatternIndex]}}">
                            <input type="hidden" name="selectedShipping" value="{{selectedShippingText}}">
                            <input type="hidden" name="colours" value="{{#each selectedColours}}{{this}}{{@index == selectedColours.length - 1 ? '' : ', '}}{{/each}}">
                            <input type="hidden" name="image" id="emailImageField" value="">
                            <p id="shippingValidation">Please select a shipping option</p>
                            <button id="customButton" on-click="triggerStripe">Purchase</button>
                       </form>
                    </div>
                </div>
            </div>
        </section>
        <div id="spinner">
            <div class="loader loader--style1" title="0">
                <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                width="60px" height="60px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
                s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
                c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
                <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
                C22.32,8.481,24.301,9.057,26.013,10.047z">
                <animateTransform attributeType="xml"
                  attributeName="transform"
                  type="rotate"
                  from="0 20 20"
                  to="360 20 20"
                  dur="0.5s"
                  repeatCount="indefinite"/>
                </path>
                </svg>
            </div>
        </div>

    </div>


    </script>

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')
    </script>
    <script src='bower_components/ractive/ractive.js'></script>
    <script src='js/vendor/ractive-events-tap.umd.js'></script>
    <script src='js/vendor/hammer.min.js'></script>
    <script src='js/vendor/ractive-touch.js'></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script src="js/data.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

    <script>
        (function(b, o, i, l, e, r) {
            b.GoogleAnalyticsObject = l;
            b[l] || (b[l] =
                function() {
                    (b[l].q = b[l].q || []).push(arguments)
                });
            b[l].l = +new Date;
            e = o.createElement(i);
            r = o.getElementsByTagName(i)[0];
            e.src = 'https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
        ga('create', 'UA-40317920-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>

</html>
