<svg version="1.1" id="svg--contrastblast" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1050 1092" style="enable-background:new 0 0 1050 1092;" xml:space="preserve">
<path class="st0 {{selectedColours[0]}}" fill="{{hexColours[0]}}" d="M1031.2,1071h18.8v21H0v-21H1031.2L1031.2,1071z M1031.2,735H0v21h1050v-21H1031.2L1031.2,735z"/>
<path class="st1 {{selectedColours[1]}}" fill="{{hexColours[1]}}" d="M378.8,924h21v21h-21V924L378.8,924z M378.8,903h21v-21h-21V903L378.8,903z M357.8,966h21v-21h-21V966
	L357.8,966z M357.8,861v21h21v-21H357.8L357.8,861z M336.7,987h21v-21h-21V987L336.7,987z M357.8,924h-21v21h21V924L357.8,924z
	 M336.7,903h21v-21h-21V903L336.7,903z M357.8,840h-21v21h21V840L357.8,840z M315.7,945v21h21v-21H315.7L315.7,945z M315.7,861v21
	h21v-21H315.7L315.7,861z M294.6,924v21h21v-21H294.6L294.6,924z M294.6,903h21v-21h-21V903L294.6,903z M252.5,1008h21v-21h-21V1008
	L252.5,1008z M252.5,840h21v-21h-21V840L252.5,840z M231.5,966v21h21v-21H231.5L231.5,966z M231.5,861h21v-21h-21V861L231.5,861z
	 M210.4,945v21h21v-21H210.4L210.4,945z M210.4,882h21v-21h-21V882L210.4,882z M189.4,1008h21v-21h-21V1008L189.4,1008z M189.4,924
	v21h21v-21H189.4L189.4,924z M189.4,903h21v-21h-21V903L189.4,903z M210.4,819h-21v21h21V819L210.4,819z M168.4,966v21h21v-21H168.4
	L168.4,966z M189.4,840h-21v21h21V840L189.4,840z M147.3,945v21h21v-21H147.3L147.3,945z M147.3,882h21v-21h-21V882L147.3,882z
	 M126.3,1008h21v-21h-21V1008L126.3,1008z M126.3,924v21h21v-21H126.3L126.3,924z M126.3,903h21v-21h-21V903L126.3,903z M126.3,840
	h21v-21h-21V840L126.3,840z M105.2,966v21h21v-21H105.2L105.2,966z M105.2,861h21v-21h-21V861L105.2,861z M84.2,945v21h21v-21H84.2
	L84.2,945z M84.2,882h21v-21h-21V882L84.2,882z M63.1,1008h21v-21h-21V1008L63.1,1008z M63.1,924v21h21v-21H63.1L63.1,924z
	 M63.1,903h21v-21h-21V903L63.1,903z M84.2,819h-21v21h21V819L84.2,819z M42.1,966v21h21v-21H42.1L42.1,966z M63.1,840h-21v21h21
	V840L63.1,840z M21,945v21h21v-21H21L21,945z M42.1,861H21v21h21V861L42.1,861z M0,924v21h21v-21H0L0,924z M21,882H0v21h21V882
	L21,882z M799.7,945h21v-21h-21V945L799.7,945z M799.7,903h21v-21h-21V903L799.7,903z M778.7,966h21v-21h-21V966L778.7,966z
	 M778.7,861v21h21v-21H778.7L778.7,861z M757.6,987h21v-21h-21V987L757.6,987z M778.7,924h-21v21h21V924L778.7,924z M757.6,903h21
	v-21h-21V903L757.6,903z M778.7,840h-21v21h21V840L778.7,840z M736.6,945v21h21v-21H736.6L736.6,945z M736.6,861v21h21v-21H736.6
	L736.6,861z M715.5,924v21h21v-21H715.5L715.5,924z M715.5,903h21v-21h-21V903L715.5,903z M673.4,1008h21v-21h-21V1008L673.4,1008z
	 M673.4,840h21v-21h-21V840L673.4,840z M652.4,966v21h21v-21H652.4L652.4,966z M652.4,861h21v-21h-21V861L652.4,861z M631.3,945v21
	h21v-21H631.3L631.3,945z M631.3,882h21v-21h-21V882L631.3,882z M610.3,1008h21v-21h-21V1008L610.3,1008z M610.3,924v21h21v-21
	H610.3L610.3,924z M610.3,903h21v-21h-21V903L610.3,903z M631.3,819h-21v21h21V819L631.3,819z M589.3,966v21h21v-21H589.3L589.3,966
	z M610.3,840h-21v21h21V840L610.3,840z M568.2,945v21h21v-21H568.2L568.2,945z M568.2,882h21v-21h-21V882L568.2,882z M547.2,1008h21
	v-21h-21V1008L547.2,1008z M547.2,924v21h21v-21H547.2L547.2,924z M547.2,903h21v-21h-21V903L547.2,903z M547.2,840h21v-21h-21V840
	L547.2,840z M526.1,966v21h21v-21H526.1L526.1,966z M526.1,861h21v-21h-21V861L526.1,861z M505.1,945v21h21v-21H505.1L505.1,945z
	 M505.1,882h21v-21h-21V882L505.1,882z M484,1008h21v-21h-21V1008L484,1008z M484,924v21h21v-21H484L484,924z M484,903h21v-21h-21
	V903L484,903z M484,840h21v-21h-21V840L484,840z M463,966v21h21v-21H463L463,966z M463,861h21v-21h-21V861L463,861z M441.9,945v21
	h21v-21H441.9L441.9,945z M441.9,882h21v-21h-21V882L441.9,882z M420.9,924v21h21v-21H420.9L420.9,924z M420.9,903h21v-21h-21V903
	L420.9,903z M1010.1,966v21h21v-21H1010.1L1010.1,966z M1010.1,861h21v-21h-21V861L1010.1,861z M989.1,945v21h21v-21H989.1
	L989.1,945z M989.1,882h21v-21h-21V882L989.1,882z M968.1,1008h21v-21h-21V1008L968.1,1008z M968.1,924v21h21v-21H968.1L968.1,924z
	 M968.1,903h21v-21h-21V903L968.1,903z M989.1,819h-21v21h21V819L989.1,819z M947,966v21h21v-21H947L947,966z M968.1,840h-21v21h21
	V840L968.1,840z M926,945v21h21v-21H926L926,945z M926,882h21v-21h-21V882L926,882z M904.9,1008h21v-21h-21V1008L904.9,1008z
	 M904.9,924v21h21v-21H904.9L904.9,924z M904.9,903h21v-21h-21V903L904.9,903z M904.9,840h21v-21h-21V840L904.9,840z M883.9,966v21
	h21v-21H883.9L883.9,966z M883.9,861h21v-21h-21V861L883.9,861z M862.8,945v21h21v-21H862.8L862.8,945z M862.8,882h21v-21h-21V882
	L862.8,882z M841.8,924v21h21v-21H841.8L841.8,924z M841.8,903h21v-21h-21V903L841.8,903z M1031.2,0H0v714h1050V0H1031.2L1031.2,0z
	 M1031.2,1008h18.8v-21h-18.8V1008L1031.2,1008z M1031.2,945h18.8v-21h-18.8V945L1031.2,945z M1031.2,903h18.8v-21h-18.8V903
	L1031.2,903z M1031.2,840h18.8v-21h-18.8V840L1031.2,840z"/>
<path class="st2 {{selectedColours[2]}}" fill="{{hexColours[2]}}" d="M378.8,924v21h-21v-21H378.8L378.8,924z M357.8,903h21v-21h-21V903L357.8,903z M336.7,945v21h21v-21H336.7
	L336.7,945z M357.8,882v-21h-21v21H357.8L357.8,882z M336.7,924h-21v21h21V924L336.7,924z M336.7,903v-21h-21v21H336.7L336.7,903z
	 M778.7,924v21h21v-21H778.7L778.7,924z M778.7,903h21v-21h-21V903L778.7,903z M757.6,945v21h21v-21H757.6L757.6,945z M778.7,882
	v-21h-21v21H778.7L778.7,882z M757.6,924h-21v21h21V924L757.6,924z M757.6,903v-21h-21v21H757.6L757.6,903z M1010.1,1050H0v21h1050
	v-21H1010.1L1010.1,1050z M1010.1,861v21h-21v21h21v21h-21v21h21v21h21v21h18.8v-42h-18.8v-63h18.8v-42h-18.8v21H1010.1L1010.1,861z
	 M1031.2,798h18.8v21h-18.8v21h-21v21h-21v21h-21v21H926v-21h21v-21h21v-21h21v-21h-21v21h-21v21h-21v21h-21v21h-42.1v-21h21v-21h21
	v-21h21v-21h-21v21h-21v21h-21v21h-21v21h-21v-21h-21v-21h-21v-21h-21v21h-21v21h-21v21h-84.2v-21h21v-21h21v-21h21v-21h-21v21h-21
	v21h-21v21h-21v63h21v21h21v21h21v21h21v-21h-21v-21h-21v-21h-21v-21h84.2v21h21v21h21v21h21v-21h21v-21h21v-21h21v21h21v21h21v21
	h21v21h21v-21h-21v-21h-21v-21h-21v-21h42.1v21h21v21h21v21h21v21h21v-21h-21v-21h-21v-21h-21v-21h42.1v21h21v21h21v21h21v21h18.8
	v21H0v-84h21v21h21v21h21v21h21v-21h-21v-21h-21v-21H21v-21h42.1v21h21v21h21v21h21v21h21v-21h-21v-21h-21v-21h-21v-21h42.1v21h21
	v21h21v21h21v21h21v-21h-21v-21h-21v-21h-21v-21h21v-21h-21v-21h21v-21h21v-21h21v-21h-21v21h-21v21h-21v21h-21v21H84.2v-21h21v-21
	h21v-21h21v-21h-21v21h-21v21h-21v21h-21v21H21v-21h21v-21h21v-21h21v-21h-21v21h-21v21H21v21H0v-84H1031.2L1031.2,798z M631.3,819
	h-21v21h-21v21h-21v21h-21v21h-42.1v-21h21v-21h21v-21h21v-21h-21v21h-21v21h-21v21h-21v21h-42.1v-21h21v-21h21v-21h21v-21h-21v21
	h-21v21h-21v21h-21v21h-21v-21h-21v-21h-21v-21h-21v21h-21v21h-21v21h-84.2v-21h21v-21h21v-21h21v-21h-21v21h-21v21h-21v21h-21v63
	h21v21h21v21h21v21h21v-21h-21v-21h-21v-21h-21v-21h84.2v21h21v21h21v21h21v-21h21v-21h21v-21h21v21h21v21h21v21h21v21h21v-21h-21
	v-21h-21v-21h-21v-21H484v21h21v21h21v21h21v21h21v-21h-21v-21h-21v-21h-21v-21h42.1v21h21v21h21v21h21v21h21v-21h-21v-21h-21v-21
	h-21v-21h21v-21h-21v-21h21v-21h21v-21h21V819L631.3,819z M1031.2,756H0v21h1050v-21H1031.2L1031.2,756z"/>
<path class="st3 {{selectedColours[3]}}" fill="{{hexColours[3]}}" d="M42.1,924H0v-21h168.4v21H42.1L42.1,924z M589.3,903H189.4v21h399.9V903L589.3,903z M1010.1,903H610.3v21h399.9
	V903L1010.1,903z M989.1,1029H0v21h1050v-21H989.1L989.1,1029z M1031.2,924h18.8v-21h-18.8V924L1031.2,924z M1031.2,714H0v21h1050
	v-21H1031.2L1031.2,714z M989.1,777H0v21h1050v-21H989.1L989.1,777z"/>
</svg>
