<svg version="1.1" id="svg--striangles" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1050 1092" style="enable-background:new 0 0 1050 1092;" xml:space="preserve">
<path class="st0 {{selectedColours[0]}}" fill="{{hexColours[0]}}" d="M168.4,630v21h21v21h21v21h21v21h21v21h21v21h-42.1v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21H168.4
	L168.4,630z M21,672h21v21h21v21h21v21h21v21h42.1v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21H0v21h21V672L21,672z M21,735H0v21
	h21V735L21,735z M399.9,630h-21v21h21v21h21v21h21v21h21v21h21v21h42.1v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21H399.9
	L399.9,630z M273.6,630h-21v21h21v21h21v21h21v21h21v21h21v21h42.1v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21H273.6L273.6,630z
	 M652.4,630h-21v21h21v21h21v21h21v21h21v21h21v21h42.1v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21H652.4L652.4,630z M526.1,630
	h-21v21h21v21h21v21h21v21h21v21h21v21h42.1v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21H526.1L526.1,630z M904.9,630h-21v21h21v21
	h21v21h21v21h21v21h21v21h42.1v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21H904.9L904.9,630z M778.7,630h-21v21h21v21h21v21h21v21
	h21v21h21v21h42.1v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21H778.7L778.7,630z M1031.2,1050H0v21h1050v-21H1031.2L1031.2,1050z
	 M1031.2,861h18.8v21h-39.9v21h21v21h18.8v105H0v-21h21v-21H0v-84h21v21h21v21h21v21h21v21h21v21h42.1v-21h-21v-21h-21v-21h-21v-21
	h-21v-21h-21v-21H0v-21H1031.2L1031.2,861z M273.6,1008v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21h-42.1v21h21v21h21v21h21v21h21
	v21h21v21H273.6L273.6,1008z M399.9,1008v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21h-42.1v21h21v21h21v21h21v21h21v21h21v21
	H399.9L399.9,1008z M526.1,1008v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21h-42.1v21h21v21h21v21h21v21h21v21h21v21H526.1
	L526.1,1008z M652.4,1008v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21h-42.1v21h21v21h21v21h21v21h21v21h21v21H652.4L652.4,1008z
	 M778.7,1008v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21h-42.1v21h21v21h21v21h21v21h21v21h21v21H778.7L778.7,1008z M904.9,1008
	v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21h-42.1v21h21v21h21v21h21v21h21v21h21v21H904.9L904.9,1008z M1031.2,1008v-21h-21v-21
	h-21v-21h-21v-21h-21v-21h-21v-21h-42.1v21h21v21h21v21h21v21h21v21h21v21H1031.2L1031.2,1008z M1031.2,819H0v21h1050v-21H1031.2
	L1031.2,819z M1031.2,630h-21v21h21v21h18.8v-42H1031.2L1031.2,630z M1031.2,378H0v21h1050v-21H1031.2L1031.2,378z"/>
<path class="st1 {{selectedColours[1]}}" fill="{{hexColours[1]}}" d="M1031.2,798h18.8v21H0v-21H1031.2L1031.2,798z M1031.2,609h18.8v21h-39.9v21h21v21h18.8v105H0v-21h21v-21H0v-84
	h21v21h21v21h21v21h21v21h21v21h42.1v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21H0v-21H1031.2L1031.2,609z M273.6,756v-21h-21v-21
	h-21v-21h-21v-21h-21v-21h-21v-21h-42.1v21h21v21h21v21h21v21h21v21h21v21H273.6L273.6,756z M399.9,756v-21h-21v-21h-21v-21h-21v-21
	h-21v-21h-21v-21h-42.1v21h21v21h21v21h21v21h21v21h21v21H399.9L399.9,756z M526.1,756v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21
	h-42.1v21h21v21h21v21h21v21h21v21h21v21H526.1L526.1,756z M652.4,756v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21h-42.1v21h21v21
	h21v21h21v21h21v21h21v21H652.4L652.4,756z M778.7,756v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21h-42.1v21h21v21h21v21h21v21h21
	v21h21v21H778.7L778.7,756z M904.9,756v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21h-42.1v21h21v21h21v21h21v21h21v21h21v21H904.9
	L904.9,756z M1031.2,756v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21h-42.1v21h21v21h21v21h21v21h21v21h21v21H1031.2L1031.2,756z
	 M1031.2,399H0v21h1050v-21H1031.2L1031.2,399z M1031.2,210v-21h-21v21h-21v21h-21v21h-21v21h-21v-21h-21v-21h-21v-21h-21v-21h-21
	v21h-21v21h-21v21h-21v21h-21v-21h-21v-21h-21v-21h-21v-21h-21v21h-21v21h-21v21h-21v21h-21v-21h-21v-21h-21v-21h-21v-21h-21v21h-21
	v21h-21v21h-21v21h-21v-21h-21v-21h-21v-21h-21v-21h-21v21h-21v21h-21v21h-21v21h-21v-21h-21v-21h-21v-21h-21v-21h-21v21h-21v21h-21
	v21h-21v21h-21v-21h-21v-21h-21v-21H21v-21H0v84h21v21h21v21h21v21h21v21h21v-21h21v-21h21v-21h21v-21h21v21h21v21h21v21h21v21h21
	v-21h21v-21h21v-21h21v-21h21v21h21v21h21v21h21v21h21v-21h21v-21h21v-21h21v-21h21v21h21v21h21v21h21v21h21v-21h21v-21h21v-21h21
	v-21h21v21h21v21h21v21h21v21h21v-21h21v-21h21v-21h21v-21h21v21h21v21h21v21h21v21h21v-21h21v-21h21v-21h21v-21h21v21h18.8v-84
	H1031.2L1031.2,210z"/>
<path class="st2 {{selectedColours[2]}}" fill="{{hexColours[2]}}" d="M1031.2,294h18.8v84H0V273h21v21h21v21h21v21h21v21h21v-21h21v-21h21v-21h21v-21h21v21h21v21h21v21h21v21h21
	v-21h21v-21h21v-21h21v-21h21v21h21v21h21v21h21v21h21v-21h21v-21h21v-21h21v-21h21v21h21v21h21v21h21v21h21v-21h21v-21h21v-21h21
	v-21h21v21h21v21h21v21h21v21h21v-21h21v-21h21v-21h21v-21h21v21h21v21h21v21h21v21h21v-21h21v-21h21v-21h21v-21h21V294L1031.2,294z
	 M1031.2,1071H0v21h1050v-21H1031.2L1031.2,1071z M1031.2,1029H0v21h1050v-21H1031.2L1031.2,1029z M1031.2,840H0v21h1050v-21H1031.2
	L1031.2,840z M1031.2,777H0v21h1050v-21H1031.2L1031.2,777z M1031.2,441H0v21h1050v-21H1031.2L1031.2,441z M1050,0v210h-18.8v-21
	h-21v21h-21v21h-21v21h-21v21h-21v-21h-21v-21h-21v-21h-21v-21h-21v21h-21v21h-21v21h-21v21h-21v-21h-21v-21h-21v-21h-21v-21h-21v21
	h-21v21h-21v21h-21v21h-21v-21h-21v-21h-21v-21h-21v-21h-21v21h-21v21h-21v21h-21v21h-21v-21h-21v-21h-21v-21h-21v-21h-21v21h-21v21
	h-21v21h-21v21h-21v-21h-21v-21h-21v-21h-21v-21h-21v21h-21v21h-21v21h-21v21h-21v-21h-21v-21h-21v-21H21v-21H0v-21h21v-21h21v-21
	h21v-21H0V84h63.1V63h-21V42H21V21H0V0H1050L1050,0z M904.9,21v21h-21v21h-21v21H926v21h-63.1v21h21v21h21v21h21v-63h21v63h21v-21
	h21v-21h21v-21H947V84h63.1V63h-21V42h-21V21h-21v63h-21V21H904.9L904.9,21z M715.5,21v21h-21v21h-21v21h63.1v21h-63.1v21h21v21h21
	v21h21v-63h21v63h21v-21h21v-21h21v-21h-63.1V84h63.1V63h-21V42h-21V21h-21v63h-21V21H715.5L715.5,21z M189.4,168h21v-21h21v-21h21
	v-21h-63.1V84h63.1V63h-21V42h-21V21h-21v63h-21V21h-21v21h-21v21h-21v21h63.1v21h-63.1v21h21v21h21v21h21v-63h21V168L189.4,168z
	 M357.8,168v-63h21v63h21v-21h21v-21h21v-21h-63.1V84h63.1V63h-21V42h-21V21h-21v63h-21V21h-21v21h-21v21h-21v21h63.1v21h-63.1v21
	h21v21h21v21H357.8L357.8,168z M526.1,147v21h21v-63h21v63h21v-21h21v-21h21v-21h-63.1V84h63.1V63h-21V42h-21V21h-21v63h-21V21h-21
	v21h-21v21h-21v21h63.1v21H484v21h21v21H526.1L526.1,147z"/>
<path class="st3 {{selectedColours[3]}}" fill="{{hexColours[3]}}" d="M357.8,84h21v21h-21V84L357.8,84z M357.8,42V21h-21v21h-21v21h-21v21h63.1V42L357.8,42z M315.7,105h-21v21h21
	v21h21v21h21v-63H315.7L315.7,105z M231.5,42h-21V21h-21v63h63.1V63h-21V42L231.5,42z M189.4,147v21h21v-21h21v-21h21v-21h-63.1V147
	L189.4,147z M168.4,105h21V84h-21V105L168.4,105z M168.4,42V21h-21v21h-21v21h-21v21h63.1V42L168.4,42z M126.3,105h-21v21h21v21h21
	v21h21v-63H126.3L126.3,105z M21,105H0v63h21v-21h21v-21h21v-21H21L21,105z M42.1,42H21V21H0v63h63.1V63h-21V42L42.1,42z M736.6,105
	h21V84h-21V105L736.6,105z M736.6,42V21h-21v21h-21v21h-21v21h63.1V42L736.6,42z M694.5,105h-21v21h21v21h21v21h21v-63H694.5
	L694.5,105z M610.3,42h-21V21h-21v63h63.1V63h-21V42L610.3,42z M568.2,147v21h21v-21h21v-21h21v-21h-63.1V147L568.2,147z M547.2,105
	h21V84h-21V105L547.2,105z M547.2,42V21h-21v21h-21v21h-21v21h63.1V42L547.2,42z M505.1,105h-21v21h21v21h21v21h21v-63H505.1
	L505.1,105z M420.9,42h-21V21h-21v63h63.1V63h-21V42L420.9,42z M378.8,147v21h21v-21h21v-21h21v-21h-63.1V147L378.8,147z M989.1,84
	h21V63h-21V42h-21V21h-21v63H989.1L989.1,84z M947,147v21h21v-21h21v-21h21v-21H947V147L947,147z M926,84v21h21V84H926L926,84z
	 M926,42V21h-21v21h-21v21h-21v21H926V42L926,42z M883.9,105h-21v21h21v21h21v21h21v-63H883.9L883.9,105z M799.7,42h-21V21h-21v63
	h63.1V63h-21V42L799.7,42z M757.6,147v21h21v-21h21v-21h21v-21h-63.1V147L757.6,147z M147.3,546h21v21H21v-21h21v-21h21v-21h21v-21
	h21v21h21v21h21V546L147.3,546z M336.7,525h-21v-21h-21v-21h-21v21h-21v21h-21v21h-21v21h147.3v-21h-21V525L336.7,525z M526.1,525
	h-21v-21h-21v-21h-21v21h-21v21h-21v21h-21v21h147.3v-21h-21V525L526.1,525z M715.5,525h-21v-21h-21v-21h-21v21h-21v21h-21v21h-21
	v21h147.3v-21h-21V525L715.5,525z M904.9,525h-21v-21h-21v-21h-21v21h-21v21h-21v21h-21v21H926v-21h-21V525L904.9,525z M1031.2,504
	h-21v21h-21v21h-21v21h81.9v-84h-18.8V504L1031.2,504z M1031.2,420H0v21h1050v-21H1031.2L1031.2,420z"/>
<path class="st4 {{selectedColours[4]}}" fill="{{hexColours[4]}}" d="M252.5,987h21v21h-42.1v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21h42.1v21h21v21h21v21h21v21h21V987
	L252.5,987z M126.3,966h-21v-21h-21v-21h-21v-21h-21v-21H0v21h21v21h21v21h21v21h21v21h21v21h42.1v-21h-21V966L126.3,966z M0,1008
	h21v-21H0V1008L0,1008z M505.1,966h-21v-21h-21v-21h-21v-21h-21v-21h-42.1v21h21v21h21v21h21v21h21v21h21v21h42.1v-21h-21V966
	L505.1,966z M378.8,966h-21v-21h-21v-21h-21v-21h-21v-21h-42.1v21h21v21h21v21h21v21h21v21h21v21h42.1v-21h-21V966L378.8,966z
	 M757.6,966h-21v-21h-21v-21h-21v-21h-21v-21h-42.1v21h21v21h21v21h21v21h21v21h21v21h42.1v-21h-21V966L757.6,966z M631.3,966h-21
	v-21h-21v-21h-21v-21h-21v-21h-42.1v21h21v21h21v21h21v21h21v21h21v21h42.1v-21h-21V966L631.3,966z M1010.1,966h-21v-21h-21v-21h-21
	v-21h-21v-21h-42.1v21h21v21h21v21h21v21h21v21h21v21h42.1v-21h-21V966L1010.1,966z M883.9,966h-21v-21h-21v-21h-21v-21h-21v-21
	h-42.1v21h21v21h21v21h21v21h21v21h21v21h42.1v-21h-21V966L883.9,966z M968.1,546v21h81.9v42H0V462h1050v21h-18.8v21h-21v21h-21v21
	H968.1L968.1,546z M841.8,483v21h-21v21h-21v21h-21v21H926v-21h-21v-21h-21v-21h-21v-21H841.8L841.8,483z M652.4,483v21h-21v21h-21
	v21h-21v21h147.3v-21h-21v-21h-21v-21h-21v-21H652.4L652.4,483z M463,483v21h-21v21h-21v21h-21v21h147.3v-21h-21v-21h-21v-21h-21
	v-21H463L463,483z M273.6,483v21h-21v21h-21v21h-21v21h147.3v-21h-21v-21h-21v-21h-21v-21H273.6L273.6,483z M21,567h147.3v-21h-21
	v-21h-21v-21h-21v-21h-21v21h-21v21h-21v21H21V567L21,567z M1031.2,882h-21v21h21v21h18.8v-42H1031.2L1031.2,882z"/>
</svg>
