<svg version="1.1" id="svg--jigjag" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1050 1092" style="enable-background:new 0 0 1050 1092;" xml:space="preserve">
<path class="st0 {{selectedColours[0]}}" fill="{{hexColours[0]}}" d="M420.9,462h21v21h-21V462L420.9,462z M399.9,21h-21v21h63.1V21H399.9L399.9,21z M357.8,462h-21v21h63.1v-21
	H357.8L357.8,462z M336.7,945h21v-21h-21V945L336.7,945z M357.8,42V21h-63.1v21H357.8L357.8,42z M294.6,483h21v-21h-21V483
	L294.6,483z M252.5,945h21v-21h-21V945L252.5,945z M231.5,21h-21v21h63.1V21H231.5L231.5,21z M168.4,945h21v-21h-21V945L168.4,945z
	 M168.4,483h21v-21h-21V483L168.4,483z M147.3,21h-21v21h63.1V21H147.3L147.3,21z M105.2,483h21v-21h-21V483L105.2,483z M84.2,945
	h21v-21h-21V945L84.2,945z M105.2,42V21H42.1v21H105.2L105.2,42z M42.1,483h21v-21h-21V483L42.1,483z M0,945h21v-21H0V945L0,945z
	 M757.6,945h21v-21h-21V945L757.6,945z M673.4,945h21v-21h-21V945L673.4,945z M589.3,945h21v-21h-21V945L589.3,945z M505.1,945h21
	v-21h-21V945L505.1,945z M420.9,945h21v-21h-21V945L420.9,945z M1010.1,945h21v-21h-21V945L1010.1,945z M926,945h21v-21h-21V945
	L926,945z M841.8,945h21v-21h-21V945L841.8,945z M926,483h21v-21h-21V483L926,483z M862.8,462h-21v21h63.1v-21H862.8L862.8,462z
	 M799.7,483h21v-21h-21V483L799.7,483z M673.4,483h21v-21h-21V483L673.4,483z M610.3,483h21v-21h-21V483L610.3,483z M547.2,483h21
	v-21h-21V483L547.2,483z M0,42h21V21H0V42L0,42z M736.6,21h-21v21h63.1V21H736.6L736.6,21z M652.4,21h-21v21h63.1V21H652.4L652.4,21
	z M610.3,42V21h-63.1v21H610.3L610.3,42z M484,21h-21v21h63.1V21H484L484,21z M1010.1,21h-42.1v21h63.1V21H1010.1L1010.1,21z
	 M904.9,21h-21v21H947V21H904.9L904.9,21z M862.8,42V21h-63.1v21H862.8L862.8,42z"/>
<path class="st1 {{selectedColours[1]}}" fill="{{hexColours[1]}}" d="M420.9,84h-21V42h21V84L420.9,84z M336.7,987h21v-21h-21V987L336.7,987z M357.8,882h-21v21h21V882L357.8,882z
	 M336.7,63V42h-21v42h21V63L336.7,63z M252.5,987h21v-21h-21V987L252.5,987z M273.6,882h-21v21h21V882L273.6,882z M252.5,63V42h-21
	v42h21V63L252.5,63z M168.4,987h21v-21h-21V987L168.4,987z M189.4,882h-21v21h21V882L189.4,882z M168.4,63V42h-21v42h21V63L168.4,63
	z M84.2,987h21v-21h-21V987L84.2,987z M105.2,882h-21v21h21V882L105.2,882z M84.2,63V42h-21v42h21V63L84.2,63z M21,966H0v21h21V966
	L21,966z M21,882H0v21h21V882L21,882z M757.6,987h21v-21h-21V987L757.6,987z M778.7,882h-21v21h21V882L778.7,882z M673.4,987h21v-21
	h-21V987L673.4,987z M694.5,882h-21v21h21V882L694.5,882z M589.3,987h21v-21h-21V987L589.3,987z M610.3,882h-21v21h21V882L610.3,882
	z M505.1,987h21v-21h-21V987L505.1,987z M526.1,882h-21v21h21V882L526.1,882z M420.9,987h21v-21h-21V987L420.9,987z M441.9,882h-21
	v21h21V882L441.9,882z M1010.1,987h21v-21h-21V987L1010.1,987z M1031.2,882h-21v21h21V882L1031.2,882z M1010.1,1071H0v21h1050v-21
	H1010.1L1010.1,1071z M926,987h21v-21h-21V987L926,987z M947,882h-21v21h21V882L947,882z M841.8,987h21v-21h-21V987L841.8,987z
	 M862.8,882h-21v21h21V882L862.8,882z M841.8,63V42h-21v42h21V63L841.8,63z M757.6,63V42h-21v42h21V63L757.6,63z M673.4,63V42h-21
	v42h21V63L673.4,63z M589.3,63V42h-21v42h21V63L589.3,63z M505.1,63V42h-21v42h21V63L505.1,63z M1010.1,63V42h-21v42h21V63
	L1010.1,63z M926,63V42h-21v42h21V63L926,63z M1031.2,777H0v21h1050v-21H1031.2L1031.2,777z"/>
<path class="st2 {{selectedColours[2]}}" fill="{{hexColours[2]}}" d="M315.7,231h-21v-21h21V231L315.7,231z M736.6,210h-21v21h21V210L736.6,210z M589.3,168h-21v42h21V168L589.3,168
	z M1010.1,168h-21v42h21V168L1010.1,168z M168.4,168h-21v42h21V168L168.4,168z M63.1,441v-21H21v-42H0v63H63.1L63.1,441z
	 M1031.2,945h18.8v-21h-18.8V945L1031.2,945z M21,546v-21h42.1v-21H0v63h21V546L21,546z M252.5,0h-21v21h21V0L252.5,0z M1010.1,0
	h-21v21h21V0L1010.1,0z M336.7,0h-21v21h21V0L336.7,0z M420.9,0h-21v21h21V0L420.9,0z M505.1,0h-21v21h21V0L505.1,0z M757.6,0h-21
	v21h21V0L757.6,0z M168.4,0h-21v21h21V0L168.4,0z M589.3,0h-21v21h21V0L589.3,0z M841.8,0h-21v21h21V0L841.8,0z M84.2,0h-21v21h21V0
	L84.2,0z M926,0h-21v21h21V0L926,0z M673.4,0h-21v21h21V0L673.4,0z M505.1,189v-21h-21v42h21V189L505.1,189z M862.8,210h-21v21h21
	V210L862.8,210z M926,189v-21h-21v42h21V189L926,189z M1050,252v-21h-18.8v21H1050L1050,252z M757.6,168h-21v42h21V168L757.6,168z
	 M820.7,210h-21v21h21V210L820.7,210z M1031.2,231v-21h-21v21H1031.2L1031.2,231z M947,231v-21h-21v21H947L947,231z M989.1,210h-21
	v21h21V210L989.1,210z M883.9,252v-21h-21v21H883.9L883.9,252z M904.9,210h-21v21h21V210L904.9,210z M673.4,189v-21h-21v42h21V189
	L673.4,189z M968.1,252v-21h-21v21H968.1L968.1,252z M926,420H820.7v21H926V420L926,420z M420.9,420H315.7v21h105.2V420L420.9,420z
	 M441.9,210h-21v21h21V210L441.9,210z M315.7,525h105.2v-21H315.7V525L315.7,525z M799.7,252v-21h-21v21H799.7L799.7,252z
	 M1010.1,735h21v-21h-21V735L1010.1,735z M1031.2,504h18.8v21h-18.8v42h-21v63h21v-21h18.8v42h-18.8v42h-21v21h-21v-21h-21v-42h-21
	v42h-21v21h-21v-21h-21v-42h-21v42h-21v21h-21v-21h-21v-42h-21v42h-21v21h-21v-21h-21v-42h-21v42h-21v21h-21v-21h-21v-42h-21v42h-21
	v21h-21v-21h-21v-42h-21v42h-21v21h-21v-21h-21v-42h-21v42h-21v21h-21v-21h-21v-42h-21v42h-21v21h-21v-21h-21v-42h-21v42h-21v21h-21
	v-21h-21v-42h-21v42h-21v21h-21v-21h-21v-42h-21v42h-21v21h-21v-21h-21v-42H21v42H0v-63h21v-21h21v-42h21v-21h21v-42h21v21h21v-21
	h21v42h21v21h21v42h21v21h21v-63h-21v-42h-42.1v-21h105.2v21h21v42h21v42h21v21h21v-63h21v63h21v-21h21v-42h21v-42h21v-21h105.2v21
	h-42.1v42h-21v63h21v-21h21v-42h21v-21h21v-42h21v21h21v-21h21v42h21v21h21v42h21v21h21v-63h-21v-42h-42.1v-21h105.2v21h21v42h21v42
	h21v21h21v-63h21v63h21v-21h21v-42h21v-42h21v-21H1031.2L1031.2,504z M147.3,609h-21v-21h-21v21h-21v21h21v-21h21v21h21V609
	L147.3,609z M652.4,609h-21v-21h-21v21h-21v21h21v-21h21v21h21V609L652.4,609z M820.7,525H926v-21H820.7V525L820.7,525z M0,210v21
	h21v-21H0L0,210z M336.7,168h-21v42h21V168L336.7,168z M399.9,210h-21v21h21V210L399.9,210z M84.2,189v-21h-21v42h21V189L84.2,189z
	 M968.1,714v21h21v-21H968.1L968.1,714z M252.5,189v-21h-21v42h21V189L252.5,189z M357.8,231v-21h-21v21H357.8L357.8,231z
	 M231.5,210h-21v21h21V210L231.5,210z M189.4,231v-21h-21v21H189.4L189.4,231z M294.6,252v-21h-21v21H294.6L294.6,252z M147.3,210
	h-21v21h21V210L147.3,210z M273.6,231v-21h-21v21H273.6L273.6,231z M210.4,252v-21h-21v21H210.4L210.4,252z M42.1,231H21v21h21V231
	L42.1,231z M1031.2,273v21h18.8v42h-18.8v-21h-21v63h21v42h18.8v21h-81.9v-21h-21v-42h-21v-42h-21v-21h-21v63h-21v-63h-21v21h-21v42
	h-21v42h-21v21H673.4v-21h42.1v-42h21v-63h-21v21h-21v42h-21v21h-21v42h-21v-21h-21v21h-21v-42h-21v-21h-21v-42h-21v-21h-21v63h21
	v42h42.1v21H463v-21h-21v-42h-21v-42h-21v-21h-21v63h-21v-63h-21v21h-21v42h-21v42h-21v21H168.4v-21h42.1v-42h21v-63h-21v21h-21v42
	h-21v21h-21v42h-21v-21h-21v21h-21v-42h-21v-21h-21v-42H21v-21H0v-63h21v42h21v-42h21v-21h21v21h21v42h21v-42h21v-21h21v21h21v42h21
	v-42h21v-21h21v21h21v42h21v-42h21v-21h21v21h21v42h21v-42h21v-21h21v21h21v42h21v-42h21v-21h21v21h21v42h21v-42h21v-21h21v21h21v42
	h21v-42h21v-21h21v21h21v42h21v-42h21v-21h21v21h21v42h21v-42h21v-21h21v21h21v42h21v-42h21v-21h21v21h21v42h21v-42h21v-21h21v21h21
	V273L1031.2,273z M147.3,315h-21v21h-21v-21h-21v21h21v21h21v-21h21V315L147.3,315z M652.4,315h-21v21h-21v-21h-21v21h21v21h21v-21
	h21V315L652.4,315z M105.2,231v-21h-21v21H105.2L105.2,231z M63.1,210h-21v21h21V210L63.1,210z M126.3,252v-21h-21v21H126.3
	L126.3,252z M547.2,252v-21h-21v21H547.2L547.2,252z M610.3,231v-21h-21v21H610.3L610.3,231z M652.4,210h-21v21h21V210L652.4,210z
	 M378.8,252v-21h-21v21H378.8L378.8,252z M694.5,231v-21h-21v21H694.5L694.5,231z M715.5,252v-21h-21v21H715.5L715.5,252z
	 M631.3,252v-21h-21v21H631.3L631.3,252z M484,210h-21v21h21V210L484,210z M463,252v-21h-21v21H463L463,252z M778.7,231v-21h-21v21
	H778.7L778.7,231z M526.1,231v-21h-21v21H526.1L526.1,231z M568.2,210h-21v21h21V210L568.2,210z M42.1,714v21h21v-21H42.1L42.1,714z
	 M21,693v21h21v-21H21L21,693z M1010.1,1050v-21h-21v-21h-21v21h-21v21h-21v-21h-21v-21h-21v21h-21v21h-21v-21h-21v-21h-21v21h-21
	v21h-21v-21h-21v-21h-21v21h-21v21h-21v-21h-21v-21h-21v21h-21v21h-21v-21h-21v-21h-21v21h-21v21h-21v-21h-21v-21h-21v21h-21v21h-21
	v-21h-21v-21h-21v21h-21v21h-21v-21h-21v-21h-21v21h-21v21h-21v-21h-21v-21h-21v21h-21v21h-21v-21h-21v-21h-21v21h-21v21h-21v-21
	h-21v-21h-21v21H21v21H0v21h1050v-42h-18.8v21H1010.1L1010.1,1050z M84.2,735h21v-21h-21V735L84.2,735z M0,735h21v-21H0V735L0,735z
	 M147.3,756v21h21v-42h-21V756L147.3,756z M63.1,756v21h21v-42h-21V756L63.1,756z M252.5,735h21v-21h-21V735L252.5,735z M210.4,714
	v21h21v-21H210.4L210.4,714z M231.5,756v21h21v-42h-21V756L231.5,756z M189.4,693v21h21v-21H189.4L189.4,693z M168.4,735h21v-21h-21
	V735L168.4,735z M126.3,714v21h21v-21H126.3L126.3,714z M105.2,693v21h21v-21H105.2L105.2,693z M315.7,756v21h21v-42h-21V756
	L315.7,756z M989.1,756v21h21v-42h-21V756L989.1,756z M947,693v21h21v-21H947L947,693z M1050,714v-21h-18.8v21H1050L1050,714z
	 M0,798v21h21v21h21v21h21v-21h21v-21h21v21h21v21h21v-21h21v-21h21v21h21v21h21v-21h21v-21h21v21h21v21h21v-21h21v-21h21v21h21v21
	h21v-21h21v-21h21v21h21v21h21v-21h21v-21h21v21h21v21h21v-21h21v-21h21v21h21v21h21v-21h21v-21h21v21h21v21h21v-21h21v-21h21v21h21
	v21h21v-21h21v-21h21v21h21v21h21v-21h21v-21h21v21h21v21h21v-21h21v-21h21v21h18.8v-42H0L0,798z M1010.1,840h21v21h18.8v42h-18.8
	v-21h-21v21h-21v21h21v21h-21v21h21v21h21v-21h18.8v42h-18.8v21h-21v-21h-21v-21h-21v21h-21v21h-21v-21h-21v-21h-21v21h-21v21h-21
	v-21h-21v-21h-21v21h-21v21h-21v-21h-21v-21h-21v21h-21v21h-21v-21h-21v-21h-21v21h-21v21h-21v-21h-21v-21h-21v21h-21v21h-21v-21
	h-21v-21h-21v21h-21v21h-21v-21h-21v-21h-21v21h-21v21h-21v-21h-21v-21h-21v21h-21v21h-21v-21h-21v-21h-21v21h-21v21h-21v-21h-21
	v-21h-21v21h-21v21h-21v-21h-21v-21h-21v21H21v21H0v-42h21v-21h21v-21H21v-21h21v-21H21v-21H0v-42h21v21h21v21h21v-21h21v-21h21v21
	h21v21h21v-21h21v-21h21v21h21v21h21v-21h21v-21h21v21h21v21h21v-21h21v-21h21v21h21v21h21v-21h21v-21h21v21h21v21h21v-21h21v-21h21
	v21h21v21h21v-21h21v-21h21v21h21v21h21v-21h21v-21h21v21h21v21h21v-21h21v-21h21v21h21v21h21v-21h21v-21h21v21h21v21h21v-21h21v-21
	h21v21h21v21h21v-21h21V840L1010.1,840z M126.3,903h-21v-21h-21v21h-21v21h21v21h-21v21h21v21h21v-21h21v-21h-21v-21h21V903
	L126.3,903z M210.4,903h-21v-21h-21v21h-21v21h21v21h-21v21h21v21h21v-21h21v-21h-21v-21h21V903L210.4,903z M294.6,903h-21v-21h-21
	v21h-21v21h21v21h-21v21h21v21h21v-21h21v-21h-21v-21h21V903L294.6,903z M378.8,903h-21v-21h-21v21h-21v21h21v21h-21v21h21v21h21
	v-21h21v-21h-21v-21h21V903L378.8,903z M463,903h-21v-21h-21v21h-21v21h21v21h-21v21h21v21h21v-21h21v-21h-21v-21h21V903L463,903z
	 M547.2,903h-21v-21h-21v21h-21v21h21v21h-21v21h21v21h21v-21h21v-21h-21v-21h21V903L547.2,903z M631.3,903h-21v-21h-21v21h-21v21
	h21v21h-21v21h21v21h21v-21h21v-21h-21v-21h21V903L631.3,903z M715.5,903h-21v-21h-21v21h-21v21h21v21h-21v21h21v21h21v-21h21v-21
	h-21v-21h21V903L715.5,903z M799.7,903h-21v-21h-21v21h-21v21h21v21h-21v21h21v21h21v-21h21v-21h-21v-21h21V903L799.7,903z
	 M883.9,903h-21v-21h-21v21h-21v21h21v21h-21v21h21v21h21v-21h21v-21h-21v-21h21V903L883.9,903z M968.1,903h-21v-21h-21v21h-21v21
	h21v21h-21v21h21v21h21v-21h21v-21h-21v-21h21V903L968.1,903z M820.7,756v21h21v-42h-21V756L820.7,756z M399.9,756v21h21v-42h-21
	V756L399.9,756z M484,756v21h21v-42h-21V756L484,756z M652.4,756v21h21v-42h-21V756L652.4,756z M568.2,756v21h21v-42h-21V756
	L568.2,756z M736.6,756v21h21v-42h-21V756L736.6,756z M904.9,756v21h21v-42h-21V756L904.9,756z M715.5,714v21h21v-21H715.5
	L715.5,714z M694.5,693v21h21v-21H694.5L694.5,693z M757.6,735h21v-21h-21V735L757.6,735z M631.3,714v21h21v-21H631.3L631.3,714z
	 M673.4,735h21v-21h-21V735L673.4,735z M610.3,693v21h21v-21H610.3L610.3,693z M778.7,693v21h21v-21H778.7L778.7,693z M926,735h21
	v-21h-21V735L926,735z M883.9,714v21h21v-21H883.9L883.9,714z M799.7,714v21h21v-21H799.7L799.7,714z M841.8,735h21v-21h-21V735
	L841.8,735z M862.8,693v21h21v-21H862.8L862.8,693z M420.9,735h21v-21h-21V735L420.9,735z M357.8,693v21h21v-21H357.8L357.8,693z
	 M273.6,693v21h21v-21H273.6L273.6,693z M378.8,714v21h21v-21H378.8L378.8,714z M336.7,735h21v-21h-21V735L336.7,735z M294.6,714v21
	h21v-21H294.6L294.6,714z M589.3,735h21v-21h-21V735L589.3,735z M526.1,693v21h21v-21H526.1L526.1,693z M547.2,714v21h21v-21H547.2
	L547.2,714z M441.9,693v21h21v-21H441.9L441.9,693z M463,714v21h21v-21H463L463,714z M505.1,735h21v-21h-21V735L505.1,735z"/>
<path class="st3 {{selectedColours[3]}}" fill="{{hexColours[3]}}" d="M441.9,462h-21v-21H484v21H441.9L441.9,462z M420.9,504H484v-21h-63.1V504L420.9,504z M399.9,105h21V84h-21V105
	L399.9,105z M378.8,252h21v-21h-21V252L378.8,252z M399.9,42h-63.1v42h21V63h21v21h21V42L399.9,42z M357.8,504h21v-21h-21V504
	L357.8,504z M378.8,441h-21v21h21V441L378.8,441z M357.8,273v21h21v-42h-21V273L357.8,273z M336.7,945h-21v21h63.1v-21H336.7
	L336.7,945z M336.7,903h-21v21h63.1v-21H336.7L336.7,903z M336.7,231v21h21v-21H336.7L336.7,231z M315.7,714v21h21v-21H315.7
	L315.7,714z M315.7,210v21h21v-21H315.7L315.7,210z M315.7,105h21V84h-21V105L315.7,105z M315.7,714v-21h-21v21H315.7L315.7,714z
	 M294.6,252h21v-21h-21V252L294.6,252z M315.7,42h-63.1v42h21V63h21v21h21V42L315.7,42z M294.6,714h-21v21h-21v42h63.1v-42h-21V714
	L294.6,714z M294.6,672v-21h-21v42h21V672L294.6,672z M294.6,462h21v-21h-63.1v21H294.6L294.6,462z M273.6,273v21h21v-42h-21V273
	L273.6,273z M252.5,945h-21v21h63.1v-21H252.5L252.5,945z M252.5,903h-21v21h63.1v-21H252.5L252.5,903z M273.6,693h-21v21h21V693
	L273.6,693z M252.5,504h63.1v-21h-63.1V504L252.5,504z M252.5,231v21h21v-21H252.5L252.5,231z M231.5,714v21h21v-21H231.5L231.5,714
	z M231.5,210v21h21v-21H231.5L231.5,210z M231.5,105h21V84h-21V105L231.5,105z M231.5,714v-21h-21v21H231.5L231.5,714z M210.4,252
	h21v-21h-21V252L210.4,252z M231.5,42h-63.1v42h21V63h21v21h21V42L231.5,42z M210.4,714h-21v21h-21v42h63.1v-42h-21V714L210.4,714z
	 M210.4,672v-21h-21v42h21V672L210.4,672z M189.4,504h21v-21h-21V504L189.4,504z M210.4,441h-21v21h21V441L210.4,441z M189.4,273v21
	h21v-42h-21V273L189.4,273z M168.4,945h-21v21h63.1v-21H168.4L168.4,945z M168.4,903h-21v21h63.1v-21H168.4L168.4,903z M189.4,693
	h-21v21h21V693L189.4,693z M168.4,231v21h21v-21H168.4L168.4,231z M147.3,714v21h21v-21H147.3L147.3,714z M147.3,210v21h21v-21
	H147.3L147.3,210z M147.3,105h21V84h-21V105L147.3,105z M147.3,714v-21h-21v21H147.3L147.3,714z M126.3,252h21v-21h-21V252
	L126.3,252z M147.3,42H84.2v42h21V63h21v21h21V42L147.3,42z M126.3,714h-21v21h-21v42h63.1v-42h-21V714L126.3,714z M126.3,672v-21
	h-21v42h21V672L126.3,672z M126.3,462h21v-21H84.2v21H126.3L126.3,462z M105.2,273v21h21v-42h-21V273L105.2,273z M84.2,945h-21v21
	h63.1v-21H84.2L84.2,945z M84.2,903h-21v21h63.1v-21H84.2L84.2,903z M105.2,693h-21v21h21V693L105.2,693z M84.2,504h63.1v-21H84.2
	V504L84.2,504z M84.2,231v21h21v-21H84.2L84.2,231z M63.1,714v21h21v-21H63.1L63.1,714z M63.1,210v21h21v-21H63.1L63.1,210z
	 M63.1,105h21V84h-21V105L63.1,105z M63.1,714v-21h-21v21H63.1L63.1,714z M42.1,252h21v-21h-21V252L42.1,252z M63.1,42H0v42h21V63
	h21v21h21V42L63.1,42z M42.1,714H21v21H0v42h63.1v-42h-21V714L42.1,714z M42.1,672v-21H21v42h21V672L42.1,672z M21,504h21v-21H21
	V504L21,504z M42.1,441H21v21h21V441L42.1,441z M21,273v21h21v-42H21V273L21,273z M0,945v21h42.1v-21H0L0,945z M0,903v21h42.1v-21H0
	L0,903z M757.6,945h-21v21h63.1v-21H757.6L757.6,945z M757.6,903h-21v21h63.1v-21H757.6L757.6,903z M673.4,945h-21v21h63.1v-21
	H673.4L673.4,945z M673.4,903h-21v21h63.1v-21H673.4L673.4,903z M589.3,945h-21v21h63.1v-21H589.3L589.3,945z M589.3,903h-21v21
	h63.1v-21H589.3L589.3,903z M505.1,945h-21v21h63.1v-21H505.1L505.1,945z M505.1,903h-21v21h63.1v-21H505.1L505.1,903z M420.9,945
	h-21v21H463v-21H420.9L420.9,945z M420.9,903h-21v21H463v-21H420.9L420.9,903z M1010.1,945h-21v21h60.9v-21H1010.1L1010.1,945z
	 M1010.1,903h-21v21h60.9v-21H1010.1L1010.1,903z M926,945h-21v21h63.1v-21H926L926,945z M926,903h-21v21h63.1v-21H926L926,903z
	 M841.8,945h-21v21h63.1v-21H841.8L841.8,945z M841.8,903h-21v21h63.1v-21H841.8L841.8,903z M0,693v21h21v-21H0L0,693z M652.4,714
	v21h21v-21H652.4L652.4,714z M652.4,714v-21h-21v21H652.4L652.4,714z M631.3,714h-21v21h-21v42h63.1v-42h-21V714L631.3,714z
	 M631.3,672v-21h-21v42h21V672L631.3,672z M610.3,693h-21v21h21V693L610.3,693z M568.2,714v21h21v-21H568.2L568.2,714z M568.2,714
	v-21h-21v21H568.2L568.2,714z M547.2,714h-21v21h-21v42h63.1v-42h-21V714L547.2,714z M547.2,672v-21h-21v42h21V672L547.2,672z
	 M526.1,693h-21v21h21V693L526.1,693z M484,714v21h21v-21H484L484,714z M484,714v-21h-21v21H484L484,714z M463,714h-21v21h-21v42
	H484v-42h-21V714L463,714z M463,672v-21h-21v42h21V672L463,672z M441.9,693h-21v21h21V693L441.9,693z M399.9,714v21h21v-21H399.9
	L399.9,714z M399.9,714v-21h-21v21H399.9L399.9,714z M378.8,714h-21v21h-21v42h63.1v-42h-21V714L378.8,714z M378.8,672v-21h-21v42
	h21V672L378.8,672z M357.8,693h-21v21h21V693L357.8,693z M989.1,714v21h21v-21H989.1L989.1,714z M989.1,714v-21h-21v21H989.1
	L989.1,714z M968.1,714h-21v21h-21v42h63.1v-42h-21V714L968.1,714z M968.1,672v-21h-21v42h21V672L968.1,672z M947,693h-21v21h21V693
	L947,693z M904.9,714v21h21v-21H904.9L904.9,714z M904.9,714v-21h-21v21H904.9L904.9,714z M883.9,714h-21v21h-21v42h63.1v-42h-21
	V714L883.9,714z M883.9,672v-21h-21v42h21V672L883.9,672z M862.8,693h-21v21h21V693L862.8,693z M820.7,714v21h21v-21H820.7
	L820.7,714z M820.7,714v-21h-21v21H820.7L820.7,714z M799.7,714h-21v21h-21v42h63.1v-42h-21V714L799.7,714z M799.7,672v-21h-21v42
	h21V672L799.7,672z M778.7,693h-21v21h21V693L778.7,693z M736.6,714v21h21v-21H736.6L736.6,714z M736.6,714v-21h-21v21H736.6
	L736.6,714z M715.5,714h-21v21h-21v42h63.1v-42h-21V714L715.5,714z M715.5,672v-21h-21v42h21V672L715.5,672z M694.5,693h-21v21h21
	V693L694.5,693z M1010.1,735v42h39.9v-63h-18.8v21H1010.1L1010.1,735z M1010.1,714h21v-21h-21V714L1010.1,714z M968.1,462h21v-21
	H926v21H968.1L968.1,462z M926,504h63.1v-21H926V504L926,504z M862.8,504h21v-21h-21V504L862.8,504z M883.9,441h-21v21h21V441
	L883.9,441z M799.7,462h21v-21h-63.1v21H799.7L799.7,462z M757.6,504h63.1v-21h-63.1V504L757.6,504z M694.5,504h21v-21h-21V504
	L694.5,504z M715.5,441h-21v21h21V441L715.5,441z M631.3,462h21v-21h-63.1v21H631.3L631.3,462z M589.3,504h63.1v-21h-63.1V504
	L589.3,504z M526.1,504h21v-21h-21V504L526.1,504z M547.2,441h-21v21h21V441L547.2,441z M0,231v21h21v-21H0L0,231z M820.7,105h21V84
	h-21V105L820.7,105z M799.7,252h21v-21h-21V252L799.7,252z M820.7,42h-63.1v42h21V63h21v21h21V42L820.7,42z M778.7,273v21h21v-42
	h-21V273L778.7,273z M757.6,231v21h21v-21H757.6L757.6,231z M736.6,210v21h21v-21H736.6L736.6,210z M736.6,105h21V84h-21V105
	L736.6,105z M715.5,252h21v-21h-21V252L715.5,252z M736.6,42h-63.1v42h21V63h21v21h21V42L736.6,42z M694.5,273v21h21v-42h-21V273
	L694.5,273z M673.4,231v21h21v-21H673.4L673.4,231z M652.4,210v21h21v-21H652.4L652.4,210z M652.4,105h21V84h-21V105L652.4,105z
	 M631.3,252h21v-21h-21V252L631.3,252z M652.4,42h-63.1v42h21V63h21v21h21V42L652.4,42z M610.3,273v21h21v-42h-21V273L610.3,273z
	 M589.3,231v21h21v-21H589.3L589.3,231z M568.2,210v21h21v-21H568.2L568.2,210z M568.2,105h21V84h-21V105L568.2,105z M547.2,252h21
	v-21h-21V252L547.2,252z M568.2,42h-63.1v42h21V63h21v21h21V42L568.2,42z M526.1,273v21h21v-42h-21V273L526.1,273z M505.1,231v21h21
	v-21H505.1L505.1,231z M484,210v21h21v-21H484L484,210z M484,105h21V84h-21V105L484,105z M463,252h21v-21h-21V252L463,252z M484,42
	h-63.1v42h21V63h21v21h21V42L484,42z M441.9,273v21h21v-42h-21V273L441.9,273z M420.9,231v21h21v-21H420.9L420.9,231z M1010.1,252
	h21v-21h-21V252L1010.1,252z M989.1,210v21h21v-21H989.1L989.1,210z M989.1,105h21V84h-21V105L989.1,105z M968.1,252h21v-21h-21V252
	L968.1,252z M989.1,42H926v42h21V63h21v21h21V42L989.1,42z M947,273v21h21v-42h-21V273L947,273z M926,231v21h21v-21H926L926,231z
	 M904.9,210v21h21v-21H904.9L904.9,210z M904.9,105h21V84h-21V105L904.9,105z M883.9,252h21v-21h-21V252L883.9,252z M904.9,42h-63.1
	v42h21V63h21v21h21V42L904.9,42z M862.8,273v21h21v-42h-21V273L862.8,273z M841.8,231v21h21v-21H841.8L841.8,231z M1031.2,672v21
	h18.8v-42h-18.8V672L1031.2,672z M1031.2,504h18.8v-21h-18.8V504L1031.2,504z M1031.2,462h18.8v-21h-18.8V462L1031.2,462z
	 M1031.2,294h18.8v-42h-18.8V294L1031.2,294z M1031.2,126h-21v21h-21v-21h-21v-21h-21v21h-21v21h-21v-21h-21v-21h-21v21h-21v21h-21
	v-21h-21v-21h-21v21h-21v21h-21v-21h-21v-21h-21v21h-21v21h-21v-21h-21v-21h-21v21h-21v21h-21v-21h-21v-21h-21v21h-21v21h-21v-21
	h-21v-21h-21v21h-21v21h-21v-21h-21v-21h-21v21h-21v21h-21v-21h-21v-21h-21v21h-21v21h-21v-21h-21v-21h-21v21h-21v21h-21v-21h-21
	v-21h-21v21h-21v21h-21v-21h-21v-21H21v21H0v84h21v21h21v-21h21v-42h21v42h21v21h21v-21h21v-42h21v42h21v21h21v-21h21v-42h21v42h21
	v21h21v-21h21v-42h21v42h21v21h21v-21h21v21h21v-21h21v21h21v-21h21v-42h21v42h21v21h21v-21h21v-42h21v42h21v21h21v-21h21v-42h21v42
	h21v21h21v-21h21v-42h21v42h21v21h21v-21h21v21h21v-21h21v21h21v-21h21v-42h21v42h21v21h21v-21h21v-42h21v42h21v21h18.8V105h-18.8
	V126L1031.2,126z M1031.2,42h-21v42h21V63h18.8V42H1031.2L1031.2,42z"/>
<path class="st4 {{selectedColours[4]}}" fill="{{hexColours[4]}}" d="M420.9,1008v21h-21v-21H420.9L420.9,1008z M399.9,861h21v-21h-21V861L399.9,861z M399.9,525h-84.2v-21h-42.1v21h21v42h21v42
	h21v21h21v-63h21v63h21v-21h21v-42h21v-42h21v-21h-42.1v21H399.9L399.9,525z M378.8,987v21h21v-21H378.8L378.8,987z M378.8,882h21
	v-21h-21V882L378.8,882z M378.8,441v21h21v21h-21v21h42.1v-63H378.8L378.8,441z M357.8,1029h21v-21h-21V1029L357.8,1029z M357.8,840
	v21h21v-21H357.8L357.8,840z M357.8,42h21V21h21V0h-63.1v21h21V42L357.8,42z M336.7,1050h21v-21h-21V1050L336.7,1050z M336.7,819v21
	h21v-21H336.7L336.7,819z M357.8,504v-21h-21v-21h21v-21h-42.1v63H357.8L357.8,504z M357.8,336v-21h-21v21h-21v42h-21v42h-21v21
	h42.1v-21h105.2v21H463v-21h-21v-42h-21v-42h-21v-21h-21v63h-21V336L357.8,336z M315.7,1008v21h21v-21H315.7L315.7,1008z M315.7,861
	h21v-21h-21V861L315.7,861z M294.6,987v21h21v-21H294.6L294.6,987z M294.6,882h21v-21h-21V882L294.6,882z M273.6,1029h21v-21h-21
	V1029L273.6,1029z M273.6,840v21h21v-21H273.6L273.6,840z M273.6,42h21V21h21V0h-63.1v21h21V42L273.6,42z M252.5,1050h21v-21h-21
	V1050L252.5,1050z M252.5,819v21h21v-21H252.5L252.5,819z M231.5,1008v21h21v-21H231.5L231.5,1008z M231.5,861h21v-21h-21V861
	L231.5,861z M210.4,987v21h21v-21H210.4L210.4,987z M210.4,882h21v-21h-21V882L210.4,882z M189.4,1029h21v-21h-21V1029L189.4,1029z
	 M189.4,840v21h21v-21H189.4L189.4,840z M210.4,483v21h42.1v-21h42.1v-21h-42.1v-21h-42.1v21h-21v21H210.4L210.4,483z M189.4,42h21
	V21h21V0h-63.1v21h21V42L189.4,42z M168.4,1050h21v-21h-21V1050L168.4,1050z M168.4,819v21h21v-21H168.4L168.4,819z M189.4,420h21
	v-42h21v-63h-21v21h-21v42h-21v21h-21v63h-21v21h21v63h21v21h21v42h21v21h21v-63h-21v-42h-42.1v-21h21v-21h-21v-21h21v-21h-21v-21
	H189.4L189.4,420z M147.3,1008v21h21v-21H147.3L147.3,1008z M147.3,861h21v-21h-21V861L147.3,861z M126.3,987v21h21v-21H126.3
	L126.3,987z M126.3,882h21v-21h-21V882L126.3,882z M147.3,630v-21h-21v21H147.3L147.3,630z M147.3,315h-21v21h21V315L147.3,315z
	 M105.2,1029h21v-21h-21V1029L105.2,1029z M105.2,840v21h21v-21H105.2L105.2,840z M105.2,588v21h21v-21H105.2L105.2,588z M105.2,525
	h21v-21h-21V525L105.2,525z M126.3,420h-21v21h21V420L126.3,420z M126.3,357v-21h-21v21H126.3L126.3,357z M105.2,42h21V21h21V0H84.2
	v21h21V42L105.2,42z M84.2,1050h21v-21h-21V1050L84.2,1050z M84.2,819v21h21v-21H84.2L84.2,819z M84.2,630h21v-21h-21V630L84.2,630z
	 M84.2,315v21h21v-21H84.2L84.2,315z M63.1,1008v21h21v-21H63.1L63.1,1008z M63.1,861h21v-21h-21V861L63.1,861z M42.1,987v21h21v-21
	H42.1L42.1,987z M42.1,882h21v-21h-21V882L42.1,882z M21,1029h21v-21H21V1029L21,1029z M21,840v21h21v-21H21L21,840z M21,462v-21H0
	v63h21v-21h21v-21H21L21,462z M21,42h21V21h21V0H0v21h21V42L21,42z M0,1050h21v-21H0V1050L0,1050z M0,819v21h21v-21H0L0,819z
	 M820.7,1008v21h21v-21H820.7L820.7,1008z M820.7,861h21v-21h-21V861L820.7,861z M799.7,987v21h21v-21H799.7L799.7,987z M799.7,882
	h21v-21h-21V882L799.7,882z M778.7,1029h21v-21h-21V1029L778.7,1029z M778.7,840v21h21v-21H778.7L778.7,840z M757.6,1050h21v-21h-21
	V1050L757.6,1050z M757.6,819v21h21v-21H757.6L757.6,819z M736.6,1008v21h21v-21H736.6L736.6,1008z M736.6,861h21v-21h-21V861
	L736.6,861z M715.5,987v21h21v-21H715.5L715.5,987z M715.5,882h21v-21h-21V882L715.5,882z M694.5,1029h21v-21h-21V1029L694.5,1029z
	 M694.5,840v21h21v-21H694.5L694.5,840z M673.4,1050h21v-21h-21V1050L673.4,1050z M673.4,819v21h21v-21H673.4L673.4,819z
	 M652.4,1008v21h21v-21H652.4L652.4,1008z M652.4,861h21v-21h-21V861L652.4,861z M631.3,987v21h21v-21H631.3L631.3,987z M631.3,882
	h21v-21h-21V882L631.3,882z M610.3,1029h21v-21h-21V1029L610.3,1029z M610.3,840v21h21v-21H610.3L610.3,840z M589.3,1050h21v-21h-21
	V1050L589.3,1050z M589.3,819v21h21v-21H589.3L589.3,819z M568.2,1008v21h21v-21H568.2L568.2,1008z M568.2,861h21v-21h-21V861
	L568.2,861z M547.2,987v21h21v-21H547.2L547.2,987z M547.2,882h21v-21h-21V882L547.2,882z M526.1,1029h21v-21h-21V1029L526.1,1029z
	 M526.1,840v21h21v-21H526.1L526.1,840z M505.1,1050h21v-21h-21V1050L505.1,1050z M505.1,819v21h21v-21H505.1L505.1,819z M484,1008
	v21h21v-21H484L484,1008z M484,861h21v-21h-21V861L484,861z M463,987v21h21v-21H463L463,987z M463,882h21v-21h-21V882L463,882z
	 M441.9,1029h21v-21h-21V1029L441.9,1029z M441.9,840v21h21v-21H441.9L441.9,840z M420.9,1050h21v-21h-21V1050L420.9,1050z
	 M420.9,819v21h21v-21H420.9L420.9,819z M1010.1,1050h21v-21h-21V1050L1010.1,1050z M1010.1,819v21h21v-21H1010.1L1010.1,819z
	 M989.1,1008v21h21v-21H989.1L989.1,1008z M989.1,861h21v-21h-21V861L989.1,861z M968.1,987v21h21v-21H968.1L968.1,987z M968.1,882
	h21v-21h-21V882L968.1,882z M947,1029h21v-21h-21V1029L947,1029z M947,840v21h21v-21H947L947,840z M926,1050h21v-21h-21V1050
	L926,1050z M926,819v21h21v-21H926L926,819z M904.9,1008v21h21v-21H904.9L904.9,1008z M904.9,861h21v-21h-21V861L904.9,861z
	 M883.9,987v21h21v-21H883.9L883.9,987z M883.9,882h21v-21h-21V882L883.9,882z M862.8,1029h21v-21h-21V1029L862.8,1029z M862.8,840
	v21h21v-21H862.8L862.8,840z M841.8,1050h21v-21h-21V1050L841.8,1050z M841.8,819v21h21v-21H841.8L841.8,819z M21,609h21v-42h21v-21
	h21v-63h21v-21h-21v-63h-21v-21h-21v-42H21v-21H0v63h21v42h42.1v21h-21v21h21v21h-21v21h21v21H21v42H0v63h21V609L21,609z
	 M1031.2,441h-42.1v21H947v21h42.1v21h42.1v-21h18.8v-21h-18.8V441L1031.2,441z M904.9,525h-84.2v-21h-42.1v21h21v42h21v42h21v21h21
	v-63h21v63h21v-21h21v-42h21v-42h21v-21H926v21H904.9L904.9,525z M883.9,441v21h21v21h-21v21H926v-63H883.9L883.9,441z M862.8,504
	v-21h-21v-21h21v-21h-42.1v63H862.8L862.8,504z M862.8,336v-21h-21v21h-21v42h-21v42h-21v21h42.1v-21H926v21h42.1v-21h-21v-42h-21
	v-42h-21v-21h-21v63h-21V336L862.8,336z M715.5,483v21h42.1v-21h42.1v-21h-42.1v-21h-42.1v21h-21v21H715.5L715.5,483z M694.5,420h21
	v-42h21v-63h-21v21h-21v42h-21v21h-21v63h-21v21h21v63h21v21h21v42h21v21h21v-63h-21v-42h-42.1v-21h21v-21h-21v-21h21v-21h-21v-21
	H694.5L694.5,420z M652.4,630v-21h-21v21H652.4L652.4,630z M652.4,315h-21v21h21V315L652.4,315z M610.3,588v21h21v-21H610.3
	L610.3,588z M610.3,525h21v-21h-21V525L610.3,525z M631.3,420h-21v21h21V420L631.3,420z M631.3,357v-21h-21v21H631.3L631.3,357z
	 M589.3,630h21v-21h-21V630L589.3,630z M589.3,315v21h21v-21H589.3L589.3,315z M568.2,483h-21v21h21v21h-42.1v42h-21v63h21v-21h21
	v-42h21v-21h21v-63h21v-21h-21v-63h-21v-21h-21v-42h-21v-21h-21v63h21v42h42.1v21h-21v21h21V483L568.2,483z M505.1,441h-21v21h-42.1
	v21H484v21h42.1v-21h21v-21h-21v-21H505.1L505.1,441z M1031.2,315h-21v63h21v42h18.8v-84h-18.8V315L1031.2,315z M778.7,42h21V21h21
	V0h-63.1v21h21V42L778.7,42z M694.5,42h21V21h21V0h-63.1v21h21V42L694.5,42z M610.3,42h21V21h21V0h-63.1v21h21V42L610.3,42z
	 M526.1,42h21V21h21V0h-63.1v21h21V42L526.1,42z M441.9,42h21V21h21V0h-63.1v21h21V42L441.9,42z M947,42h21V21h21V0H926v21h21V42
	L947,42z M862.8,42h21V21h21V0h-63.1v21h21V42L862.8,42z M1031.2,1029h18.8v-21h-18.8V1029L1031.2,1029z M1031.2,861h18.8v-21h-18.8
	V861L1031.2,861z M1031.2,546v21h-21v63h21v-21h18.8v-84h-18.8V546L1031.2,546z M1031.2,84h-21v21h-21V84h-21V63h-21v21h-21v21h-21
	V84h-21V63h-21v21h-21v21h-21V84h-21V63h-21v21h-21v21h-21V84h-21V63h-21v21h-21v21h-21V84h-21V63h-21v21h-21v21h-21V84h-21V63h-21
	v21h-21v21h-21V84h-21V63h-21v21h-21v21h-21V84h-21V63h-21v21h-21v21h-21V84h-21V63h-21v21h-21v21h-21V84h-21V63h-21v21h-21v21h-21
	V84h-21V63h-21v21h-21v21h-21V84h-21V63H21v21H0v42h21v-21h21v21h21v21h21v-21h21v-21h21v21h21v21h21v-21h21v-21h21v21h21v21h21v-21
	h21v-21h21v21h21v21h21v-21h21v-21h21v21h21v21h21v-21h21v-21h21v21h21v21h21v-21h21v-21h21v21h21v21h21v-21h21v-21h21v21h21v21h21
	v-21h21v-21h21v21h21v21h21v-21h21v-21h21v21h21v21h21v-21h21v-21h21v21h21v21h21v-21h21v-21h21v21h21v21h21v-21h21v-21h18.8V63
	h-18.8V84L1031.2,84z M1031.2,0h-21v21h21v21h18.8V0H1031.2L1031.2,0z"/>
</svg>
