<svg version="1.1" id="svg--navasaynava" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1050 1092" style="enable-background:new 0 0 1050 1092;" xml:space="preserve">
<path class="st0 {{selectedColours[0]}}" fill="{{hexColours[0]}}" d="M1030.1,735h19.9v42h-19.9v21H988v-21h21v-21h21V735L1030.1,735z M1030.1,651h-84.2v21h21v21h21v21h21v-21h21
	v-21h19.9v-21H1030.1L1030.1,651z M945.9,714h-63.1v21h21v21h21v21h21v-21h21v-21h21v-21H945.9L945.9,714z M882.8,777h-63.1v21
	h105.2v-21H882.8L882.8,777z M840.7,756v-21h21v-21h21v-21h21v-21h21v-21h-42.1v21h-21v21h-21v21h-21v21h-21v21h-21v21h-21v21h42.1
	v-21h21v-21H840.7L840.7,756z M756.5,714h21v-21h21v-21h21v-21H546v21h21v21h21v21h21v21h21v21h21v21h21v21h21v-21h21v-21h21v-21h21
	V714L756.5,714z M482.9,651H251.4v21h21v21h21v21h21v21h21v21h21v21h21v21h21v-21h21v-21h21v-21h21v-21h21v-21h21v-21h21v-21H482.9
	L482.9,651z M293.5,756h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21h-42.1v21h21v21h21v21h21v21h21v21h21v21h21v21h42.1v-21h-21V756
	L293.5,756z M209.3,777h-63.1v21h105.2v-21H209.3L209.3,777z M167.2,756v-21h21v-21H83.1v21h21v21h21v21h21v-21H167.2L167.2,756z
	 M104.1,693v-21h21v-21H19.9v21h21v21h21v21h21v-21H104.1L104.1,693z M62,756H41v-21h-21v-21H0v42h19.9v21h21v21h42.1v-21H62V756
	L62,756z"/>
<path class="st1 {{selectedColours[1]}}" fill="{{hexColours[1]}}" d="M1050,441h-19.9v-21h19.9V441L1050,441z M1030.1,336v-21h-21v21h-21v21h-21v21h83.1v-42H1030.1L1030.1,336z
	 M945.9,462h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v21h-21v21h-21v21h-21v21h-21v21h-21v21h-21v21h273.6v-21h-21V462
	L945.9,462z M945.9,357h-21v-21h-21v-21h-42.1v21h21v21h21v21h21v21h21v21h21v21h21v21h21v21h21v21h19.9v-42h-19.9v-21h-21v-21h-21
	v-21h-21v-21h-21V357L945.9,357z M798.6,336v-21H567.1v21h-21v21h273.6v-21H798.6L798.6,336z M693.4,420h21v-21H356.6v21h21v21h21
	v21h21v21h21v21h189.4v-21h21v-21h21v-21h21V420L693.4,420z M356.6,462h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v21h-21v21h-21
	v21h-21v21h-21v21h-21v21h-21v21h273.6v-21h-21V462L356.6,462z M293.5,357H525v-21h-21v-21H272.5v21h-21v21H293.5L293.5,357z
	 M104.1,420h21v-21h21v-21h21v-21h21v-21h21v-21h-42.1v21h-21v21h-21v21h-21v21h-21v21H62v21H41v21h-21v21H0v21h41v-21h21v-21h21
	v-21h21V420L104.1,420z M83.1,357v-21H62v-21H41v21h-21v21H0v21h104.1v-21H83.1L83.1,357z M19.9,420v-21H0v42h41v-21H19.9L19.9,420z
	"/>
<path class="st2 {{selectedColours[2]}}" fill="{{hexColours[2]}}" d="M1030.1,861h19.9v21h-19.9V861L1030.1,861z M1030.1,798h-21v21h-21v21h-21v21h-21v21h-21v21h-21v21h-21v21H1050
	v-21H945.9v-21h21v-21h21v-21h21v-21h21v-21h19.9v-42h-19.9V798L1030.1,798z M1030.1,672h19.9v63h-19.9v21h-21v21h-21v21h-21v21h-21
	v21h-21v21h-21v21h-21v21h-21v21h-21v21h-21v21h-21v21H1050v105H0V987h272.5v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21
	h-21v-21h-21v-21h-21v-21H62v-21H41v-21h-21v-21H0v-63h19.9v21h21v21h21v21h21v21h21v21h21v21h21v21h21v21h21v21h21v21h21v21h21v21
	h21v21h21v21h21v21h21v21h21v21h63.1v-21h21v-21h21v21h21v21H525v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21
	v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21h63.1v21h21v21h21v21h21v21h21v21h21v21h21v21h21v21h21v21h21
	v21h21v21h21v21h21v21h21v21h21v-21h21v-21h21v-21h21v-21h21v-21h21v-21h21v-21h21v-21h21v-21h21v-21h21v-21h21v-21h21v-21h21v-21
	h63.1v21h-21v21h-21v21h-21v21h-21v21h-21v21h-21v21h-21v21h-21v21h-21v21h-21v21h-21v21h-21v21h-21v21h-21v21h-21v21h-21v21h42.1
	v-21h21v-21h21v21h21v21h63.1v-21h21v-21h21v-21h21v-21h21v-21h21v-21h21v-21h21v-21h21v-21h21v-21h21v-21h21v-21h21v-21h21v-21h21
	v-21h21V672L1030.1,672z M125.1,1071v-21h-21v-21h-21v21H62v21H125.1L125.1,1071z M272.5,1071v-21h-21v-21h-21v21h-21v21H272.5
	L272.5,1071z M419.8,1071v-21h-21v-21h-21v21h-21v21H419.8L419.8,1071z M567.1,1071v-21h-21v-21h-21v21h-21v21H567.1L567.1,1071z
	 M714.4,1071v-21h-21v-21h-21v21h-21v21H714.4L714.4,1071z M861.7,1071v-21h-21v-21h-21v21h-21v21H861.7L861.7,1071z M1009,1071v-21
	h-21v-21h-21v21h-21v21H1009L1009,1071z M1050,462v-21h-19.9v21H1050L1050,462z M1030.1,189v-21H988v21h21v21h21v21h19.9v-42H1030.1
	L1030.1,189z M1030.1,252h-21v-21h-21v-21h-21v-21h-21v-21h-63.1v21h21v21h21v21h21v21h21v21h21v21h21v21h21v21h19.9v-63h-19.9V252
	L1030.1,252z M988,399v21h21v21h21v-21h19.9v-42h-83.1v21H988L988,399z M966.9,315h-63.1v21h21v21h21v21h21v-21h21v-21h21v-21H966.9
	L966.9,315z M924.9,714H988v-21h-21v-21h-21v-21h-21v21h-21v21h-21v21H924.9L924.9,714z M924.9,294v-21h21v-21H840.7v21h21v21h21v21
	h21v-21H924.9L924.9,294z M861.7,777h63.1v-21h-21v-21h-21v-21h-21v21h-21v21h-21v21H861.7L861.7,777z M861.7,231v-21h21v-21H777.5
	v21h21v21h21v21h21v-21H861.7L861.7,231z M798.6,840h63.1v-21h-21v-21h-21v-21h-21v21h-21v21h-21v21H798.6L798.6,840z M756.5,168v21
	h21v-21H756.5L756.5,168z M735.4,903h63.1v-21h-21v-21h-21v-21h-21v21h-21v21h-21v21H735.4L735.4,903z M693.4,231h21v21h21v21h21v21
	h21v21h21v21h21v21h21v21h21v21h21v21h21v21h21v21h21v21h21v21h63.1v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21
	h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21h-63.1v21h21v21h21V231L693.4,231z M672.3,966h63.1v-21h-21v-21
	h-21v-21h-21v21h-21v21h-21v21H672.3L672.3,966z M440.8,798h231.5v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v21h-21
	v21h-21v21h-21v21h-21v21h-21v21h-21v21H440.8L440.8,798z M419.8,231v21h21v21h21v21h21v21h21v21h21v21H251.4v21h21v21h21v21h21v21
	h21v21h21v21h21v21h63.1v-21h-21v-21h-21v-21h-21v-21h-21v-21h357.8v21h-21v21h-21v21h-21v21h-21v21h63.1v-21h21v-21h21v-21h21v-21
	h21v-21h21v-21h21v-21H546v-21h21v-21h21v-21h21v-21h21v-21h21v-21h21v-21H398.7v21H419.8L419.8,231z M356.6,924v21h-21v21h105.2
	v-21h-21v-21h-21v-21h-21v21H356.6L356.6,924z M314.6,231h-21v21h-21v21h-21v21h-21v21h-21v21h-21v21h-21v21h-21v21h-21v21h-21v21
	h-21v21H62v21H41v21h63.1v-21h21v-21h21v-21h21v-21h21v-21h21v-21h21v-21h21v-21h21v-21h21v-21h21v-21h21v-21h21v-21h21v-21h21v-21
	h21v-21h-63.1v21h-21v21h-21V231L314.6,231z M293.5,861v21h-21v21h105.2v-21h-21v-21h-21v-21h-21v21H293.5L293.5,861z M314.6,168
	h-21v21h21V168L314.6,168z M230.4,798v21h-21v21h105.2v-21h-21v-21h-21v-21h-21v21H230.4L230.4,798z M188.3,252h-63.1v21h21v21h21
	v21h21v-21h21v-21h21v-21H188.3L188.3,252z M209.3,210v21h21v21h21v-21h21v-21h21v-21H188.3v21H209.3L209.3,210z M167.2,735v21h-21
	v21h105.2v-21h-21v-21h-21v-21h-21v21H167.2L167.2,735z M125.1,714h63.1v-21h-21v-21h-21v-21h-21v21h-21v21h-21v21H125.1L125.1,714z
	 M125.1,357h21v-21h21v-21H62v21h21v21h21v21h21V357L125.1,357z M83.1,294v-21h21v-21h21v-21h21v-21h21v-21h21v-21h-63.1v21h-21v21
	h-21v21H62v21H41v21h-21v21H0v63h19.9v-21h21v-21h21v-21H83.1L83.1,294z M62,420h21v-21h21v-21H0v21h19.9v21h21v21h21V420L62,420z
	 M41,945h147.3v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21H62v-21H41v-21h-21v-21H0v42h19.9v21h21v21h21v21h21v21h21v21h21v21H0
	v21H41L41,945z M41,882v-21h-21v-21H0v42H41L41,882z M19.9,462h21v-21H0v42h19.9V462L19.9,462z M19.9,231h21v-21h21v-21h21v-21H41
	v21h-21v21H0v42h19.9V231L19.9,231z"/>
<path class="st3 {{selectedColours[3]}}" fill="{{hexColours[3]}}" d="M1030.1,819h19.9v42h-19.9v21h19.9v42H945.9v-21h21v-21h21v-21h21v-21h21V819L1030.1,819z M1030.1,168v21h19.9
	v-21H1030.1L1030.1,168z M1009,945H882.8v-21h21v-21h21v-21h21v-21h21v-21h21v-21h21v-21h-42.1v21h-21v21h-21v21h-21v21h-21v21h-21
	v21h-21v21h-21v21h-21v21H1050v-42H1009L1009,945z M1030.1,210h-21v-21h-21v-21h-42.1v21h21v21h21v21h21v21h21v21h19.9v-42h-19.9
	V210L1030.1,210z M988,1029h-21v21h-21v21h63.1v-21h-21V1029L988,1029z M924.9,273v21h-21v21H1009v-21h-21v-21h-21v-21h-21v21H924.9
	L924.9,273z M882.8,819h21v-21h-63.1v21h21v21h21V819L882.8,819z M861.7,210v21h-21v21h105.2v-21h-21v-21h-21v-21h-21v21H861.7
	L861.7,210z M840.7,1029h-21v21h-21v21h63.1v-21h-21V1029L840.7,1029z M819.6,189h63.1v-21H777.5v21H819.6L819.6,189z M798.6,903
	H693.4v21h21v21h21v21h21v-21h21v-21h21V903L798.6,903z M777.5,861v21h21v21h21v-21h21v-21h21v-21H756.5v21H777.5L777.5,861z
	 M735.4,210h21v21h21v21h21v21h21v21h21v21h42.1v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21h-42.1v21h21V210L735.4,210z
	 M693.4,966h-63.1v21h21v21h63.1v-21h21v-21H693.4L693.4,966z M693.4,1029h-21v21h-21v21h63.1v-21h-21V1029L693.4,1029z M651.3,231
	v21h-21v21h-21v21h-21v21h189.4v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v21H651.3L651.3,231z M651.3,945v-21h21v-21h21v-21h21v-21
	h21v-21h21v-21h21v-21h-42.1v21h-21v21h-21v21h-21v21h-21v21h-21v21h-21v21h-21v21h-21v21h-21v21h42.1v-21h21v-21h21v-21H651.3
	L651.3,945z M546,1029h-21v21h-21v21h63.1v-21h-21V1029L546,1029z M546,945v-21h21v-21h21v-21h21v-21h21v-21h21v-21h21v-21H398.7v21
	h21v21h21v21h21v21h21v21h21v21h21v21H546L546,945z M504,1008h21v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21
	v-21h-21v-21h-42.1v21h21v21h21v21h21v21h21v21h21v21h21v21h21v21h21v21h21v21H504L504,1008z M440.8,210h231.5v-21h-21v-21H419.8v21
	h-21v21H440.8L440.8,210z M398.7,966h-63.1v21h21v21h63.1v-21h21v-21H398.7L398.7,966z M398.7,1029h-21v21h-21v21h63.1v-21h-21V1029
	L398.7,1029z M356.6,252h-21v21h-21v21h-21v21h189.4v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v21h-21V252L356.6,252z M356.6,945v-21
	h21v-21H272.5v21h21v21h21v21h21v-21H356.6L356.6,945z M293.5,882v-21h21v-21H209.3v21h21v21h21v21h21v-21H293.5L293.5,882z
	 M272.5,210v21h-21v21h-21v21h-21v21h-21v21h42.1v-21h21v-21h21v-21h21v-21h21v-21h21v-21h21v-21h-42.1v21h-21v21H272.5L272.5,210z
	 M251.4,1029h-21v21h-21v21h63.1v-21h-21V1029L251.4,1029z M251.4,945h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21H62
	v21h21v21h21v21h21v21h21v21h21v21h21v21H0v42h272.5v-21h-21V945L251.4,945z M230.4,819v-21h-63.1v21h21v21h21v-21H230.4L230.4,819z
	 M230.4,189h63.1v-21H188.3v21H230.4L230.4,189z M125.1,252h105.2v-21h-21v-21h-21v-21h-21v21h-21v21h-21V252L125.1,252z M104.1,273
	h-21v21H62v21h105.2v-21h-21v-21h-21v-21h-21V273L104.1,273z M104.1,1029h-21v21H62v21h63.1v-21h-21V1029L104.1,1029z M41,924h84.2
	v-21h-21v-21h-21v-21H62v-21H41v-21h-21v-21H0v42h19.9v21h21v21H0v42H41L41,924z M19.9,273h21v-21h21v-21h21v-21h21v-21h21v-21H83.1
	v21H62v21H41v21h-21v21H0v42h19.9V273L19.9,273z M19.9,189h21v-21H0v42h19.9V189L19.9,189z"/>
<path class="st0 {{selectedColours[4]}}" fill="{{hexColours[4]}}" d="M1030.1,588v-21h19.9v21H1030.1L1030.1,588z M1030.1,525h-21v21h-21v21h-21v21h-21v21h-21v21h-21v21H1050v-21
	h-83.1v-21h21v-21h21v-21h21v-21h19.9v-42h-19.9V525L1030.1,525z M1030.1,21H798.6v21h21v21h21v21h21v21h21v21h21v21h21v21h42.1v-21
	h-21v-21h-21v-21h-21V84h-21V63H1050V21H1030.1L1030.1,21z M1009,84h-63.1v21h21v21h21v21h21v21h41v-21h-19.9v-21h19.9V84H1009
	L1009,84z M903.8,567h21v-21h21v-21h21v-21H693.4v21h21v21h21v21h21v21h21v21h21v21h21v21h21v-21h21v-21h21v-21h21V567L903.8,567z
	 M798.6,147v21h63.1v-21h-21v-21h-21v21H798.6L798.6,147z M735.4,84v21h-21v21h105.2v-21h-21V84h-21V63h-21v21H735.4L735.4,84z
	 M693.4,567h-21v-21h-21v-21h-21v-21H440.8v21h-21v21h-21v21h-21v21h-21v21h357.8v-21h-21V567L693.4,567z M693.4,63h63.1V42h-21V21
	h-21V0h-21v21h-21v21h-21v21H693.4L693.4,63z M567.1,42h21v21h21v21h21v21h21v21h21v21h21v21h42.1v-21h-21v-21h-21v-21h-21V84h-21
	V63h-21V42h-21V21h-21V0H546v21h21V42L567.1,42z M525,63v21h-21v21h-21v21h-21v21h-21v21h189.4v-21h-21v-21h-21v-21h-21V84h-21V63
	H525L525,63z M398.7,84v21h-21v21h-21v21h-21v21h42.1v-21h21v-21h21v-21h21V84h21V63h21V42h21V21h21V0h-42.1v21h-21v21h-21v21h-21
	v21H398.7L398.7,84z M356.6,525h21v-21H104.1v21h21v21h21v21h21v21h21v21h21v21h21v21h21v-21h21v-21h21v-21h21v-21h21v-21h21V525
	L356.6,525z M356.6,63h63.1V42h-21V21h-21V0h-21v21h-21v21h-21v21H356.6L356.6,63z M272.5,105h-21v21h105.2v-21h-21V84h-21V63h-21
	v21h-21V105L272.5,105z M230.4,147h-21v21h63.1v-21h-21v-21h-21V147L230.4,147z M146.2,609h-21v-21h-21v-21h-21v-21H62v-21H41v-21H0
	v21h19.9v21h21v21h21v21h21v21h21v21H0v21h167.2v-21h-21V609L146.2,609z M41,126v21h-21v21H62v-21h21v-21h21v-21h21V84H0v42H41
	L41,126z M41,63h147.3v21h-21v21h-21v21h-21v21h-21v21h42.1v-21h21v-21h21v-21h21V84h21V63h21V42h21V21H0v42H41L41,63z M0,567v42
	h19.9v-21h21v-21H0L0,567z"/>
<path class="st4 {{selectedColours[1]}}" fill="{{hexColours[1]}}" d="M1030.1,546h19.9v21h-19.9V546L1030.1,546z M1030.1,147h19.9v-21h-19.9V147L1030.1,147z M1030.1,0H714.4v21h21
	v21h21v21h21v21h21v21h21v21h21v21h21v21h63.1v-21h-21v-21h-21v-21h-21V84h-21V63h-21V42h-21V21H1050V0H1030.1L1030.1,0z M1009,588
	h-21v21h-21v21h83.1v-42h-19.9v-21h-21V588L1009,588z M1009,63H882.8v21h21v21h21v21h21v21h21v21h42.1v-21h-21v-21h-21v-21h-21V84
	H1050V63H1009L1009,63z M966.9,567h21v-21h21v-21h21v-21h-63.1v21h-21v21h-21v21h-21v21h-21v21h-21v21h-21v21h63.1v-21h21v-21h21
	v-21h21V567L966.9,567z M798.6,609h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21h-63.1v21h21v21h21v21h21v21h21v21H356.6v-21h21v-21h21
	v-21h21v-21h21v-21h-63.1v21h-21v21h-21v21h-21v21h-21v21h-21v21h-21v21h568.2v-21h-21V609L798.6,609z M777.5,126h-63.1v21h21v21
	h63.1v-21h21v-21H777.5L777.5,126z M735.4,105V84h21V63H651.3v21h21v21h21v21h21v-21H735.4L735.4,105z M672.3,42V21h21V0H588.1v21
	h21v21h21v21h21V42H672.3L672.3,42z M482.9,63h-21v21h-21v21h-21v21h-21v21h-21v21h63.1v-21h21v-21h21v-21h21V84h21V63h21v21h21v21
	h21v21h21v21h21v21h63.1v-21h-21v-21h-21v-21h-21V84h-21V63h-21V42h-21V21h-21V0h-21v21h-21v21h-21V63L482.9,63z M440.8,42h21V21h21
	V0H377.7v21h21v21h21v21h21V42L440.8,42z M314.6,126h-63.1v21h21v21h63.1v-21h21v-21H314.6L314.6,126z M335.6,84v21h21v21h21v-21h21
	V84h21V63H314.6v21H335.6L335.6,84z M251.4,105h21V84h21V63h21V42h21V21h21V0H0v21h272.5v21h-21v21h-21v21h-21v21h-21v21h-21v21h-21
	v21h63.1v-21h21v-21h21V105L251.4,105z M209.3,609h-21v-21h-21v-21h-21v-21h-21v-21h-21v-21H41v21h21v21h21v21h21v21h21v21h21v21h21
	v21h63.1v-21h-21V609L209.3,609z M83.1,588H62v-21H41v21h-21v21H0v21h104.1v-21h-21V588L83.1,588z M19.9,546v-21H0v42h41v-21H19.9
	L19.9,546z M41,84h84.2v21h-21v21h-21v21H62v21h42.1v-21h21v-21h21v-21h21V84h21V63H0v21H41L41,84z M19.9,147h21v-21H0v42h19.9V147
	L19.9,147z"/>
</svg>
