<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 154.1 88.9" style="enable-background:new 0 0 154.1 88.9;" xml:space="preserve">
<rect y="0" class="swatch {{this}}" width="154.1" height="88.9"/>
<polygon class="tick {{this}}" points="99.4,20.3 65.8,51.6 55.3,40.3 46.5,48.6 65.2,68.6 107.6,29.1 "/>
</svg>
